{%extends 'base_detail.html' %}
{% load actividad_tags %}
{%load jsonify %}
{%load static%}

{%block head%}
{%endblock head%}

{% block content%}


<div class="container" style="padding-top:150px;margin-bottom: 0px; background-color: #fafafa">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-8 text-center">
            <img src="{{lugar.logo.url}}" class="img-fluid" width="250" height="250">
        </div>
        <div class="col-lg-12 col-md-12 col-sm-8 text-center">
            <h2 class="title text-center">{{lugar.nombre}}</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <h2 class="subtitle title text-center"><i class="fa fa-address-card-o" aria-hidden="true"></i> Contácto</h2>
            <p><i class="fa fa-map-marker" aria-hidden="true"></i> {{lugar.direccion}}</p>
            <p><i class="fa fa-phone" aria-hidden="true"></i> {{lugar.telefono}}</p>
            <p><i class="fa fa-mobile" aria-hidden="true"></i> {{lugar.telefono2}}</p>
            <hr>
            <h2 class="subtitle title text-center"><i class="fa fa-map" aria-hidden="true"></i> Mapa</h2>
            <div id='map' style='width:auto; height: 300px;'></div>
            <hr>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <h2 class="subtitle title text-center"><i class="fa fa-bus" aria-hidden="true"></i> Corridas</h2>
            {% for s in salidas %}                
            <p>Corridas: {{s.origen}}-{{s.destino}} , hora: {{s.hora_salida}}, ${{s.precio}}</p>
            {% endfor %}
            <hr>
            <h2 class="subtitle title text-center"><i class="fa fa-camera" aria-hidden="true"></i> Fotográfias</h2>
            <div class="container" style="padding-top:5px;padding-bottom:10px;">
            <!--First row-->
                <div class="row mb-2 mt-1">
                    
                    <!--Carousel header-->
                    <div class="col-lg-12 col-md-12 col-sm-12"> 

                        <!--Carousel Wrapper-->
                        <div id="carousel-example-1" class="carousel slide carousel-fade z-depth-1-half" data-ride="carousel">
                            <!--Indicators-->
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-1" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-1" data-slide-to="1"></li>
                                <li data-target="#carousel-example-1" data-slide-to="2"></li>
                            </ol>
                            <!--/.Indicators-->

                            <!--Slides-->
                            <div class="carousel-inner" role="listbox">
                                <!--First slide-->
                                <div class="carousel-item active">
                                    <a href="#!"><img src="{{lugar.image_uno.url}}" alt="First slide" class="img-fluid"></a>
                                </div>
                                <!--/First slide-->

                                <!--Second slide-->
                                <div class="carousel-item">
                                    <a href="#!"><img src="{{lugar.image_dos.url}}" alt="Second slide" class="img-fluid"></a>
                                </div>
                                <!--/Second slide-->

                                <!--Third slide-->
                                <div class="carousel-item">
                                    <a href="#!"><img src="{{lugar.image_tres.url}}" alt="Third slide" class="img-fluid"></a>
                                </div>
                                <!--/Third slide-->
                            </div>
                            <!--/.Slides-->

                            <!--Controls-->
                            <a class="carousel-control-prev" href="#carousel-example-1" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carousel-example-1" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                            <!--/.Controls-->
                        </div>
                        <!--/.Carousel Wrapper-->

                    </div>
                    <!--/Carousel header-->
                    
                </div>
                <!--/First row-->
            </div>
        </div>
    </div>
</div>


<script>

      function initMap() {
        var myLatLng = {lat: {{lugar.lat|jsonify}} , lng: {{lugar.lng|jsonify}} };

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 14,
          center: myLatLng
        });
        {% for m  in marcadores  %}
          var marker = new google.maps.Marker({
          position:{lat: {{m.latitud|jsonify}} , lng: {{m.longitud|jsonify}} },
          map: map,
          /*title: '{{m.nombre|jsonify}}'*/
        });  
        {% endfor %}
        
      }

</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtjM5A6W-i81IPpnYzXbwDpRbNJ0iVc0E&callback=initMap">
</script>


{%endblock content%}


{%block scripts%}
 
{%endblock scripts%}