{%extends 'base.html'%}
{%load static%}
{% load jsonify %}
{% load actividad_tags %}
{%block head%}

{%endblock head%}

{%block header%}
<!-- streak -->
<div class="streak hm-black-strong streak-lg streak-photo view" style="background-image:url({%static 'img/bg-3.jpg'%})">
	<div class="flex-center mask">
		<ul class="white-text smooth-scroll title">
			<li><h2 class="h2-responsive"> ¿Cómo llegar?</h2></li>
			<li><h5 class="text-center  wow fadeIn" data-wow-delay="0.2s">Todas las rutas posibles hacia Teotihuacán...</h5></li>

		</ul>
	</div>
</div>
<!-- /.streak -->
{%endblock header%}
{%block content%}

<div class="container-fluid" style="padding-bottom: 30px;padding-top: 10px;">
	<h2 class="title text-center">Mapa</h2>
        <div id='map' style='width:auto; height: 500px;'></div>
	<hr>	
</div>
<script type="text/javascript">
    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        center: new google.maps.LatLng(19.3424545, -99.1843678 ),
        mapTypeId: google.maps.MapTypeId.ROADMAP
      });
      var location = [
      {% for l in lugares %}
          ['<div id="content">'+
              '<div id="siteNotice">'+
                '<p>Desde:</p>'+
                '<h1 id="firstHeading" class="firstHeading">{{l.nombre}}</h1>'+
                '<div id="bodyContent">'+
                  '<p>{{l.direccion}}</p>' +
                  '<p><a href="{{l.get_absolute_url}}">'+
                  '+ info</a></p> '+
                '</div'+
              '</div>'+
          '</div>', {{l.lat|jsonify}},{{l.lng|jsonify}}],
      {% endfor %}
      ];
      
      var infowindow = new google.maps.InfoWindow();
  
      for (var i = 0; i < location.length; i++) {
  
          var marker = new google.maps.Marker({
              position: new google.maps.LatLng(location[i][1], location[i][2]),
              map: map,
              /*title: location[i][0]*/
          });
  
          google.maps.event.addListener(marker, 'click', (function (marker, i) {
              return function () {
                  infowindow.setContent(location[i][0]);
                  infowindow.open(map, marker);
              }
          })(marker, i)); 
      }
    }
   
</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtjM5A6W-i81IPpnYzXbwDpRbNJ0iVc0E&callback=initMap">
</script>
{%endblock content%}