{%extends 'base.html' %} 
{%load static%}
{%block head%}


{%endblock head%}


    
{%block header%}
        
   <!--Carousel Wrapper-->
        <div id="carousel-example-3" class="carousel slide carousel-fade white-text" data-ride="carousel" data-interval="false">
            <!--Indicators-->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-3" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-3" data-slide-to="1"></li>
                <li data-target="#carousel-example-3" data-slide-to="2"></li>
            </ol>
            <!--/.Indicators-->

            <!--Slides-->
            <div class="carousel-inner" role="listbox" >

                <!-- First slide -->
                <div class="carousel-item active view hm-black-light" style=" background-image: url({%static 'img/fotico-1.jpg'%});">

                    <!-- Caption -->
                    <div class="full-bg-img flex-center text-center white-text">
                        <ul class="col-lg-6 col-offset-lg-6 col-sm-12">
                            <li>
                                <img src="{% static 'img/teo.png' %}" alt="Teotihuacan mágico" class="img-fluid text-center" width="800" height="800">
                            </li>    
                            <li>
                                <h1 class="sletrero animated slideInLeft h1-responsive title  white-text">¡Teotihuacán a un click!</h1>
                            </li>                            
                        </ul>
                    </div>
                    <!-- /.Caption -->

                </div>
                <!-- /.First slide -->

                <!-- Second slide -->
                <div class="carousel-item view hm-black-light img-fluid" style="background-image: url({%static 'img/Trailer-Park.jpg'%});">

                    <!-- Caption -->
                    <div class="full-bg-img flex-center white-text">
                        <ul class="col-md-12" >
                            <li>
                                <h1 class="sletrero animated slideInLeft h1-responsive title  white-text">Experiencias únicas</h1>
                            </li>
                            <li>
                                <p class="sletrero animated slideInRight flex-item subtitle"></p>
                            </li>
                            
                        </ul>
                    </div> 
                    <!-- /.Caption -->

                </div>
                <!-- /.Second slide -->

                <!-- Third slide -->
                <div class="carousel-item view hm-black-light" style="background-image: url({%static 'img/Header.jpg'%});">
                    <!-- Caption -->
                    <div class="full-bg-img flex-center white-text">
                        <ul class="col-md-12" >
                            <li>
                                <h1 class="sletrero animated slideInLeft h1-responsive title  white-text">Conoce Teotihuacán</h1>
                            </li>
                            <li>
                                <p class="sletrero animated slideInRight flex-item subtitle">más allá de la zona arqueológica</p>
                            </li>
                            
                        </ul>
                    </div> 
                    <!-- /.Caption -->

                </div>
                <!-- /.Third slide -->

            </div>
            <!--/.Slides-->

            <!--Controls-->
            <a class="carousel-control-prev" href="#carousel-example-3" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#carousel-example-3" role="button" data-slide="next">
			    <span class="carousel-control-next-icon" aria-hidden="true"></span>
			    <span class="sr-only">Next</span>
			</a>
            
            <!--/.Controls-->
        </div>
        <!--/.Carousel Wrapper-->

{%endblock header%} 

{% block content%}

<div class="container" style="padding-bottom: 10px;padding-top: 10px;">
    <h1 class="title text-center">Explora Teotihuacán Mágico</h1>
    <hr>
    <div class="row" style="padding-top: 3px;">
        <div class="col-12 col-lg-3 col-md-4 col-sm-6 text-center view overlay hm-orange-strong">
            <div class="card " style="width: 17rem;">
              <a href="{%url 'actividades:actividad_list'%}" >
              <img class="card-img-top" src="../static/img/teo-do.jpg" alt="Teotihuacán Eventos" style="height:150px; weight:50px;">
              <div class="card-block" style="background-color:rgba(255, 152, 0, 0.7);">
                  <h4 class="card-title title-card-white">
                      ¿Qué hacer?
                  </h4>
                  <p class="mask flex-center white-text">Eventos,Actividades..</p>
              </div>
            </div></a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 text-center view overlay hm-blue-strong">
            <div class="card" style="width: 17rem;">
              <a href="{%url 'alojamientos:alojamiento_list'%}" >
              <img class="card-img-top" src="../static/img/Trailer-Park.jpg" alt="Donde Dormir" style="height:150px; weight:50px;">
              <div class="card-block" style="background-color:rgba(0, 150, 136, 0.7);">
                  <h4 class="card-title title-card-white">
                      ¿Dónde Dormir?
                  </h4>
                  <p class="mask flex-center white-text">Hoteles,hostales...</p>
              </div>
            </div> <br> </a>
        </div>
        <div class="col-12 col-lg-3 col-md-4 col-sm-6 text-center view overlay hm-red-strong">
            <div class="card" style="width: 17rem;">
              <a href="{%url 'restaurantes:restaurant_list'%}" >
              <img class="card-img-top" src="../static/img/donde_comer.jpg" alt="Donde Comer" style="height:150px; weight:50px;">
              <div class="card-block" style="background-color:rgba(63, 81, 181, 0.7);">
                  <h4 class="card-title title-card-white">
                      ¿Dónde Comer?
                  </h4>
                  <p class="mask flex-center white-text">Restaurantes, comida tipica,etc..</p>
              </div></a>
            </div>
        </div>
        <div class="col-12 col-lg-3 col-md-4 col-sm-6 text-center view overlay hm-green-strong">
            <div class="card" style="width: 17rem;">
              <a href="{% url 'ruta:lugar_list' %}" >
              <img class="card-img-top" src="../static/img/llegar1.jpg" alt="Teotihuacán Eventos" style="height:150px; weight:50px;">
              <div class="card-block" style="background-color:rgba(205, 220, 57, 0.7);">
                  <h4 class="card-title title-card-white">
                      ¿Cómo llegar?
                  </h4>
                  <p class="mask flex-center white-text">Rutas, transporte, etc...</p>
              </div></a>
            </div>
        </div>
        <div class="col-12 col-lg-3 col-md-4 col-sm-6 text-center view overlay hm-brown-strong">
            <div class="card" style="width: 17rem;">
              <a href="{%url 'tours:tour_list'%}" title="tours teotihuacan_magico">
              <img class="card-img-top" src="../static/img/tours.jpg" alt="Teotihuacán Eventos" style="height:150px; weight:50px;">
              <div class="card-block" style="background-color:rgba(121, 85, 72, 0.7);">
                  <h4 class="card-title title-card-white">
                      Tours
                  </h4>
                  <p class="mask flex-center white-text">Conoce de una manera diferente Teotihuacán..</p>
              </div></a>
            </div>
        </div>
        <div class="col-12 col-lg-3 col-md-4 col-sm-6 text-center view overlay hm-pink-strong">
            <div class="card" style="width: 17rem;">
              <a href="{%url 'shop:list-product'%}" title="artesanias">
              <img class="card-img-top" src="../static/img/art.jpg" alt="Teotihuacán Artesanias" style="height:150px; weight:50px;">
              <div class="card-block" style="background-color:rgba(244, 67, 54, 0.7);">
                  <h4 class="card-title title-card-white">
                      Artesanias
                  </h4>
                  <p class="mask flex-center white-text">Tienda online de artesanias de Teotihuacán..</p>
              </div></a>
            </div>
        </div>
        <div class="col-12 col-lg-3 col-md-4 col-sm-6 text-center view overlay hm-yellow-strong">
            <div class="card" style="width: 17rem;">
              <a href="{%url 'eventos:evento_list'%}" title="eventos-teotihuacán">
              <img class="card-img-top" src="../static/img/eventos.jpg" alt="Teotihuacán Eventos" style="height:150px; weight:50px;">
              <div class="card-block" style="background-color:rgba(255, 235, 59, 0.7);">
                  <h4 class="card-title title-card-white">
                      Eventos
                  </h4>
                  <p class="mask flex-center white-text">Calendario de eventos en Teotihuacán..</p>
              </div></a>
            </div>
        </div>
        <div class="col-12 col-lg-3 col-md-4 col-sm-6 text-center view overlay hm-teal-strong">
            <div class="card" style="width: 17rem;">
              <a href="{%url 'servicios:servicio_list'%}" title="servicios_basicos">
              <img class="card-img-top" src="../static/img/basics.png" alt="Teotihuacán Básicos" style="height:150px; weight:50px;">
              <div class="card-block" style="background-color:rgba(76, 175, 80, 0.7);">
                  <h4 class="card-title title-card-white">
                      Básicos
                  </h4>
                  <p class="mask flex-center white-text">Números de emergencia,gasolina,etc...</p>
              </div></a>
            </div>
        </div>
    </div>
</div>
{%include "blog/publicaciones_comentadas.html" %}


{%endblock content%}

{%block scripts%}
 
{%endblock scripts%} 