{%extends 'base.html' %} 

{%load static%}

{%block head%}
	
{%endblock head%}

{%block header%}
<!-- streak -->
<div class="streak hm-black-strong streak-lg streak-photo view " style="background-image:url({%static 'img/teo.png'%})">
		<div class="flex-center mask">
			<ul class="white-text smooth-scroll title">
				<li><h2 class="h2-responsive"> Prestadores de Servicios</h2></li>
			</ul>
		</div>
</div>

{%endblock header%}



{% block content%}

<section class="services">
	<div class="container">
		<h1 class="title text-center">Estimado Prestador de Servicios:</h1>
		<p class="text-center">En Teotihuacán Mágico estamos convencidos en tener alianzas que nos permitan crecer exponencialmente. Es por ello que te mostramos todos los servicios que puedes adquirir con Teotihuacán Mágico.</p>
		<hr>


	</div>

	<div class="container" style="padding-bottom: 10px;padding-top: 10px;">
    <div class="row" style="padding-top: 3px;">
        <div class="col-12 col-lg-3 col-md-4 col-sm-6 text-center view overlay hm-orange-strong">
            <div class="card " style="width: 17rem;">
              <a href="{%url 'home:siteweb'%}" >
              <img class="card-img-top" src="../static/img/site_web.jpg" alt="Teotihuacán Eventos" style="height:150px; weight:50px;">
              <div class="card-block" style="background-color:rgba(255, 152, 0, 0.7);">
                  <h4 class="card-title title-card-white">
                      Sitios Web
                  </h4>
                  <p class="mask flex-center white-text">Dinámicos y estáticos</p>
              </div>
            </div></a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 text-center view overlay hm-blue-strong">
            <div class="card" style="width: 17rem;">
              <a href="{%url 'alojamientos:alojamiento_list'%}" >
              <img class="card-img-top" src="../static/img/marketing.jpg" alt="Donde Dormir" style="height:150px; weight:50px;">
              <div class="card-block" style="background-color:rgba(0, 150, 136, 0.7);">
                  <h4 class="card-title title-card-white">
                      Marketing Digital
                  </h4>
                  <p class="mask flex-center white-text">Promocionales, redes sociales...</p>
              </div>
            </div> <br> </a>
        </div>
        <div class="col-12 col-lg-3 col-md-4 col-sm-6 text-center view overlay hm-red-strong">
            <div class="card" style="width: 17rem;">
              <a href="{%url 'restaurantes:restaurant_list'%}" >
              <img class="card-img-top" src="../static/img/imagen.jpg" alt="Donde Comer" style="height:150px; weight:50px;">
              <div class="card-block" style="background-color:rgba(63, 81, 181, 0.7);">
                  <h4 class="card-title title-card-white">
                      Diseño Imagen
                  </h4>
                  <p class="mask flex-center white-text">Logotipos. tarjetas ,hojas...</p>
              </div></a>
            </div>
        </div>
        <div class="col-12 col-lg-3 col-md-4 col-sm-6 text-center view overlay hm-green-strong">
            <div class="card" style="width: 17rem;">
              <a href="{% url 'ruta:lugar_list' %}" >
              <img class="card-img-top" src="../static/img/content.jpg" alt="Teotihuacán Eventos" style="height:150px; weight:50px;">
              <div class="card-block" style="background-color:rgba(205, 220, 57, 0.7);">
                  <h4 class="card-title title-card-white">
                      Contenido
                  </h4>
                  <p class="mask flex-center white-text">Infografias, Articulos, etc...</p>
              </div></a>
            </div>
        </div>
    </div>
</div>
	
</section>

{%endblock content%}



{%block scripts%}

{%endblock scripts%}