{% extends 'base_detail.html'%}
{% load static%}

{% block content %}


<section class="blog_d view" style="background-image: url({%static 'img/site_web.jpg'%}); padding-top:100px;">
    <div class="container text-center" style="padding: 70px;">
      <div class="col-lg-6 offset-lg-3">
        <h2 class="title_site_web">Sitios Web</h2>
        <p class="subtitle_site_web">Dinamicos y estaticos</a>.</p>
        <p class="subtitle_site_web"></p>
      </div>
    </div>
</section>	

<section>
    <div class="container" style="padding-top:20px;">
      <div class="row">
        <div class="col-lg-8 text-justify">
          <p>Pre-refrigerator woman face forwards construct jeans rebar corrupted monofilament cardboard. Smart-claymore mine free-market network sunglasses ablative physical savant courier uplink spook DIY crypto-8-bit. Uplink claymore mine courier tower face forwards pen footage systemic post-refrigerator range-rover franchise. Dome nano-tanto math-corrupted Legba camera systemic Shibuya media wonton soup. Shanty town beef noodles sprawl courier pistol voodoo god dolphin systema tanto construct warehouse apophenia office weathered cyber-kanji. Sign plastic papier-mache pen modem chrome otaku drone tank-traps 3D-printed DIY shrine spook bicycle assault woman rebar. Receding grenade dissident sprawl modem claymore mine human digital sunglasses 8-bit. </p>
        </div> 
        <div class="col-lg-4 col-sm-12">
          <h1>Aqui no se que poner xD</h1>
        </div>
      </div>
    </div>
</section>

{% endblock content %}