{%extends 'base.html' %} 

{%load static%}

{%block head%}

{%endblock head%}

{%block header%}
<!-- streak -->
<div class="streak hm-black-strong streak-lg streak-photo view" style="background-image:url({%static 'img/art.jpg'%})">
		<div class="flex-center mask">
			<ul class="white-text smooth-scroll title">
				<li><h2 class="h2-responsive"> Tienda de Artesanias</h2></li>
				<li><p class="subtitle">Proximamente....</p></li>
			</ul>
		</div>
</div>
{%endblock header%}


{% block content%}

{%endblock content%}



{%block scripts%}

{%endblock scripts%}
