{%extends 'base.html'%}
{%load static%}
{% load actividad_tags %}
{%block head%}

{%endblock head%}

{%block header%}
<!-- streak -->
<div class="streak hm-black-strong streak-lg streak-photo view" style="background-image:url({%static 'img/bg-3.jpg'%})">
		<div class="flex-center mask">
			<ul class="white-text smooth-scroll title">
				<li><h2 class="h2-responsive"> Servicios</h2></li>
				<li><h5 class="text-center  wow fadeIn" data-wow-delay="0.2s">Desde médicos hasta fotógrafos...</h5></li>

			</ul>
		</div>
</div>
<!-- /.streak -->
{%endblock header%}
{%block content%}
<div class="container text-center">
	<div class="row">
		<div class="col-12 col-sm-12 col-md-12 col-lg-12">	
			<h2 class="title">Categorías</h2>
			<ul class="list-categoria">
				<li {% if not categoria  %}{% endif %} id="catego">
					<a href="{%url 'servicios:servicio_list' %}" class="list">Todas</a>
				</li>
				{% for c in categorias %}
				<li{% if categoria.slug == c.slug %}{% endif %} id="catego">
					<a href="{{c.get_absolute_url}}" class="list">{{c.nombre}}</a>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>

<div class="container" style="padding-bottom: 30px;padding-top: 10px;">
	<h2 class="text-center title">
		{% if categoria %}
			{{categoria.nombre}}
		{%else%}
			Todos
		{% endif %}
	</h2>
	<hr>
	<div class="row">
		{%for Servicio in servicios%}
		<div class="col-lg-3 col-md-4 col-sm-6 text-center">
			<div class="card bordesito" style="width: 16rem;">
			  <img class="card-img-top" src="{{Servicio.logo.url}}" alt="Teotihuacan Mágico" width="250" height="250">
			  <div class="card-block">
			    <h4 class="card-title title-card text-center">{{Servicio.nombre}}</h4>
			    <!--<p class="card-text">{{Servicio.description|truncatewords_html:20}}</p>-->
			    <p class="card-text">{{Servicio.categoria}}</p>
				<p class="card-text"><i class="fa fa-map-marker" aria-hidden="true"></i> {{Servicio.ubicacion}}</p>
			    <a href="{{Servicio.get_absolute_url}}" class="btn btn-primary">más información...</a>
			  </div>
			</div>
		</div>
		{%endfor%}
	</div>
</div>

{%endblock content%}