{%extends 'base_detail.html' %}
{% load actividad_tags %}
{%load jsonify %}
{%load static%}

{%block head%}
{%endblock head%}

{% block content%}


<div class="container" style="padding-top:150px;margin-bottom: 0px; background-color: #fafafa">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-8 text-center">
            <img src="{{servicio.logo.url}}" class="img-fluid" width="250" height="250">
        </div>
        <div class="col-lg-12 col-md-12 col-sm-8 text-center">
            <h2 class="title text-center">{{servicio.nombre}}</h2>
            <p class="subtitle title">Categoria: {{servicio.categoria.nombre}}</p>
            <p class="subtitle title text-center">Horario: {{servicio.horario}}</p>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <h2 class="subtitle title text-center">Contácto</h2>
            <p><i class="fa fa-map-marker" aria-hidden="true"></i> {{servicio.ubicacion}}</p>
            <p><i class="fa fa-phone" aria-hidden="true"></i> {{servicio.telefono}}</p>
            <p><i class="fa fa-mobile" aria-hidden="true"></i> {{servicio.telefono2}}</p>
            <hr>
            <div class="container text-center">
                <h2 class="subtitle title text-center">Redes Sociales</h2>
                    <div class="row">
                            <div class="col-lg-3 col-sm-3">
                                <p><a href="{{servicio.facebook}}" style="color:blue;" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></p>
                            </div>
                            <div class="col-lg-3 col-sm-3">
                                <p><a href="{{servicio.twitter}}" style="color:cornflowerblue;" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></p>
                            </div>
                            <div class="col-lg-3 col-sm-3">
                                <p><a href="{{servicio.instagram}}" style="color: rgba-purple-strong;" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></p>
                            </div>
                            <div class="col-lg-3 col-sm-3">
                                <p><a href="{{servicio.youtube}}" style="color:red;" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a></p>
                            </div>  
                    </div>
            </div>
            <hr>
            <h2 class="subtitle title text-center">Mapa</h2>
            <div id='map' style='width:auto; height: 300px;'></div>
            <hr>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <h2 class="subtitle title text-center">Caracteristicas</h2>
            <p>{{servicio.caracteristicas|markdown}}</p>
            <hr>
            <h2 class="subtitle title text-center"><i class="fa fa-camera" aria-hidden="true"></i> Fotografías</h2>
            <div class="container" style="padding-top:5px;padding-bottom:10px;">
            <!--First row-->
                <div class="row mb-2 mt-1">
                    
                    <!--Carousel header-->
                    <div class="col-lg-12 col-md-12 col-sm-12"> 

                        <!--Carousel Wrapper-->
                        <div id="carousel-example-1" class="carousel slide carousel-fade z-depth-1-half" data-ride="carousel">
                            <!--Indicators-->
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-1" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-1" data-slide-to="1"></li>
                                <li data-target="#carousel-example-1" data-slide-to="2"></li>
                            </ol>
                            <!--/.Indicators-->

                            <!--Slides-->
                            <div class="carousel-inner" role="listbox">
                                <!--First slide-->
                                <div class="carousel-item active">
                                    <a href="#!"><img src="{{servicio.image.url}}" alt="First slide" class="img-fluid"></a>
                                </div>
                                <!--/First slide-->

                                <!--Second slide-->
                                <div class="carousel-item">
                                    <a href="#!"><img src="{{servicio.imagedos.url}}" alt="Second slide" class="img-fluid"></a>
                                </div>
                                <!--/Second slide-->

                                <!--Third slide-->
                                <div class="carousel-item">
                                    <a href="#!"><img src="{{servicio.imagetres.url}}" alt="Third slide" class="img-fluid"></a>
                                </div>
                                <!--/Third slide-->
                            </div>
                            <!--/.Slides-->

                            <!--Controls-->
                            <a class="carousel-control-prev" href="#carousel-example-1" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carousel-example-1" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                            <!--/.Controls-->
                        </div>
                        <!--/.Carousel Wrapper-->

                    </div>
                    <!--/Carousel header-->
                    
                </div>
                <!--/First row-->
            </div>
        </div>
    </div>
</div>


<script>

      function initMap() {
        var myLatLng = {lat: {{servicio.lat|jsonify}} , lng: {{servicio.lng|jsonify}} };

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 14,
          center: myLatLng
        });
        {% for m  in marcadores  %}
          var marker = new google.maps.Marker({
          position:{lat: {{m.latitud|jsonify}} , lng: {{m.longitud|jsonify}} },
          map: map,
          title: '{{m.nombre|jsonify}}'
        });  
        {% endfor %}
        
      }

</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtjM5A6W-i81IPpnYzXbwDpRbNJ0iVc0E&callback=initMap">
</script>


{%endblock content%}


{%block scripts%}
 
{%endblock scripts%}