{%load static%}
{%block head%}

{%endblock head%}

{%block content%}

<div class="container-fluid" style="padding: 30px;" id="eventos">
	<h2>Eventos</h2>
	<hr>
	<div class="row">
		{%for Evento in eventos%}
		<div class="col-md-4">
			<div class="card" style="width: 20rem;">
			  <img class="card-img-top" src="{{Evento.portada.url}}" alt="Card image cap">
			  <div class="card-block">
			    <h4 class="card-title">{{Evento.titulo}}</h4>
			    <p class="card-text">{{Evento.descripcion|truncatewords_html:20}}</p>
			    <p class="card-text">Fecha: {{Evento.fecha}}</p>
			    <a href="{{Evento.get_absolute_url}}" class="btn btn-primary">más información...</a>
			  </div>
			</div>
		</div>
		{%endfor%}
	</div>
</div>

{%endblock content%}