{%load static%}
{%block head%}

{%endblock head%}

{%block content%}

<div class="container-fluid" style="padding: 30px;" id="restaurantes">
	<h2>Restaurantes</h2>
	<hr>
	<div class="row" style="padding-top: 3px;">
		{%for Restaurant in restaurantes%}
		<div class="col-md-4">
			<div class="card" style="width: 20rem;">
			  <img class="card-img-bottom" src="{{Restaurant.portada.url}}" alt="Card image cap">
			  <div class="card-block">
			    <h4 class="card-title">{{Restaurant.nombre}}</h4>
			    <p class="card-text">{{Restaurant.descripcion|truncatewords_html:20}}</p>
			    <p class="card-text">Tel.Cel: {{Restaurant.telefono}}</p>
			    <a href="{{Restaurant.get_absolute_url}}" class="btn btn-primary">más información...</a>
			  </div>
			</div>
		</div>
		{%endfor%}
	</div>
</div>

{%endblock content%}