{%load static%}
{% load crispy_forms_tags %}
{% block content%}
<div class="container-fluid" style="padding-bottom: 10px;padding-top: 10px;background-color: rgba(3, 169, 244, 0.3);" >
<!--Section: Leave a reply (Not Logged In User)-->
<section class="mb-4 mt-4">
    <!--Leave a reply form-->
         <div class="reply-form">
            <h3 class="section-heading h3 pt-5 title text-white">Contácto </h3>
                <form method="post" action="." style="color: #fff;">
                    {% csrf_token %}
                    {{ form|crispy}}
                 <input type="submit" value="Enviar" class="btn btn-danger pull-right">
                </form>                       
         </div>
    <!--/.Leave a reply form-->
</section>
<!--/Section: Leave a reply (Not Logged In User)-->
</div>                   
    
{% endblock content%}