{%extends 'base.html'%}
{%load static%}
{% load actividad_tags %}
{%block head%}

{%endblock head%}

{%block header%}
<!-- streak -->
<div class="streak hm-black-strong streak-lg streak-photo view" style="background-image:url({%static 'img/Trailer-Park.jpg'%})">
		<div class="flex-center mask">
			<ul class="white-text smooth-scroll title">
				<li><h2 class="h2-responsive"> Dónde dormir..</h2></li>
				<li><h5 class="text-center  wow fadeIn" data-wow-delay="0.2s">Encuentra el mejor lugar en la ciudad de los dioses </h5></li>

			</ul>
		</div>
</div>
<!-- /.streak -->
{%endblock header%}
{%block content%}
<div class="container text-center">
	<div class="row">
		<div class="col-12 col-sm-12 col-md-12 col-lg-12">	
			<h2 class="title">Categorias</h2>
			<ul class="list-categoria">
				<li {% if not categoria  %}{% endif %} id="catego">
					<a href="{%url 'alojamientos:alojamiento_list' %}" class="list">Todas</a>
				</li>
				{% for c in categorias %}
				<li{% if categoria.slug == c.slug %}{% endif %} id="catego">
					<a href="{{c.get_absolute_url}}" class="list">{{c.slug}}</a>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>

<div class="container" style="padding: 30px;">
	<h2 class="text-center title">
			{% if categoria %}
				{{categoria.nombre}}
			{%else%}
				Todas
			{% endif %}
	</h2>
	{%for Alojamiento in alojamientos%}
	{% if forloop.first %}
	<div class="row" style="padding-top: 3px;">
	{%endif%}
		<div class="col-lg-3 col-md-4 col-sm-6 text-center">
			<div class="card bordesito" style="width: 17rem;">
			  <img class="card-img-top" src="{{Alojamiento.logo.url}}" alt="Teotihuacán Mágico" width="50" height="150">
			  <div class="card-block">
			    <h4 class="card-title title-card text-center">{{Alojamiento.nombre}}</h4>
			    <p class="card-text text-center">{{Alojamiento.categoria}}</p>
			    <p class="card-text">{{Alojamiento.descripcion|markdown|truncatewords_html:20}}</p>
				<div class="container text-center">
					<div class="row">
							<div class="col-lg-4 col-sm-4">
								{%if Alojamiento.bar == True %}
								<p class="card-text"><i class="fa fa-glass" aria-hidden="true"></i><br>Bar</p>
								{%else%}
								<p class="card-text"><i class="fa fa-glass" aria-hidden="true"></i><br>No Disponible</p>
								{%endif%}
							</div>
							<div class="col-lg-4 col-sm-4">
								{%if Alojamiento.wifi == True %}
								<p class="card-text"><i class="fa fa-wifi" aria-hidden="true"></i><br>Wifi</p>
								{%else%}
								<p class="card-text"><i class="fa fa-wifi" aria-hidden="true"></i><br>No Disponible</p>
								{%endif%}
							</div>
							<div class="col-lg-4 col-sm-4">
								{%if Alojamiento.spa == True %}
								<p class="card-text"><i class="fa fa-shower" aria-hidden="true"></i><br>Spa</p>
								{%else%}
								<p class="card-text"><i class="fa fa-shower" aria-hidden="true"></i><br>No Disponible</p>
								{%endif%}
							</div>	
						</div>
				 </div>
			    </div>
			    <a href="{{Alojamiento.get_absolute_url}}" class="btn btn-danger">más información...</a>
			  </div>
			</div>
		{% if forloop.counter|divisibleby:4 %}
		</div><div class="row">
		{% endif %}            
	    {% if forloop.last %}
	        </div>
	    {% endif %}
	{%endfor%}
	</div>


{%endblock content%}