{%extends 'base_detail.html' %}
{% load actividad_tags %}
{% load jsonify %}
{% load static%}
{%block head%}
    <!--Facebook-->
    <!-- You can use open graph tags to customize link previews.
    Learn more: https://developers.facebook.com/docs/sharing/webmasters -->
    <meta property="og:url"           content="http://www.teotihuacanmagico.com.mx{{alojamiento.get_absolute_url}}" />
    <meta property="og:type"          content="article" />
    <meta property="og:title"         content="{{ alojamiento.nombre }}" />
    <meta property="og:description"   content="{{ alojamiento.descripcion}}" />
    <meta property="og:image"         content="{{ alojamiento.foto_portada.url}}" />
{%endblock head%}

{% block content%}


<div class="container" style="padding-top:110px;margin-bottom: 0px; background-color: #fafafa">
    <div class="row">
        <div class="col-lg-4">
            <a href="{% url 'alojamientos:alojamiento_list' %}"><i class="fa fa-arrow-left" aria-hidden="true"></i> Regresar</a>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-8 text-center">
            <img src="{{alojamiento.logo.url}}" class="img-fluid" width="350" height="350">
            <hr>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-8 text-center">
            <h2 class="title text-center">{{alojamiento.nombre}}</h2>
            <p class="subtitle title ">Categoria: {{alojamiento.categoria.nombre}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <p class="text-center subtitle title"><i class="fa fa-bolt" aria-hidden="true"></i> Información general</p>
            <!--<p><i class="fa fa-calendar" aria-hidden="true"></i> {{alojamiento.fecha}}h.</p>-->
            <p><i class="fa fa-map-marker" aria-hidden="true"></i> {{alojamiento.direccion}}.</p>
            
            <p><i class="fa fa-phone" aria-hidden="true"></i> {{alojamiento.tel_1}} </p>
            <p><i class="fa fa-mobile" aria-hidden="true"></i> {{alojamiento.tel_2}}</p>
            
            <p><i class="fa fa-envelope" aria-hidden="true"></i> {{alojamiento.correo}}</p>
            <p><i class="fa fa-globe" aria-hidden="true"></i> {{alojamiento.sitio_web}}</p>

            <hr>
            <h2 class="subtitle title text-center">Servicios</h2>
            <div class="container text-center">
					<div class="row">
							<div class="col-lg-3 col-sm-3">
								{%if alojamiento.bar == True %}
								<p><i class="fa fa-glass" aria-hidden="true"></i><br>Bar</p>
                                {%else%}
                                <p><i class="fa fa-glass" aria-hidden="true"></i><br>No Disponible</p>
								{%endif%}
							</div>
							<div class="col-lg-3 col-sm-3">
								{%if alojamiento.wifi == True %}
								<p><i class="fa fa-wifi" aria-hidden="true"></i><br>Wifi</p>
                                {%else%}
                                <p><i class="fa fa-wifi" aria-hidden="true"></i><br>No Disponible</p>
								{%endif%}
							</div>
							<div class="col-lg-3 col-sm-3">
								{%if alojamiento.estacionamiento == True %}
								<p><i class="fa fa-car" aria-hidden="true"></i><br>Estacionamiento</p>
                                {%else%}
                                <p><i class="fa fa-car" aria-hidden="true"></i><br>No Disponible</p>
								{%endif%}
							</div>
                            <div class="col-lg-3 col-sm-3">
			        			{%if alojamiento.ninos == True %}
								<p><i class="fa fa-grav" aria-hidden="true"></i><br>Niños</p>
                                {%else%}
                                <p><i class="fa fa-grav" aria-hidden="true"></i><br>No Permitidos</p>
								{%endif%}
							</div>	
					</div>
                    <div class="row">
							<div class="col-lg-3 col-sm-3">
								{%if alojamiento.restaurant == True %}
								<p><i class="fa fa-cutlery" aria-hidden="true"></i><br>Restaurant</p>
								{%else%}
                                <p><i class="fa fa-cutlery" aria-hidden="true"></i><br>No Disponible</p>
                                {%endif%}
							</div>
							<div class="col-lg-3 col-sm-3">
								{%if alojamiento.spa == True %}
								<p><i class="fa fa-bath" aria-hidden="true"></i><br>SPA</p>
								{%else%}
                                <p><i class="fa fa-bath" aria-hidden="true"></i><br>No Disponible</p>
                                {%endif%}
							</div>
							<div class="col-lg-3 col-sm-3">
								{%if alojamiento.alberca == True %}
								<p><i class="fa fa-th" aria-hidden="true"></i><br>Alberca</p>
                                {%else%}
                                <p><i class="fa fa-th" aria-hidden="true"></i><br>No Disponible</p>
								{%endif%}
							</div>
                            <div class="col-lg-3 col-sm-3">
			        			{%if alojamiento.desayuno == True %}
								<p><i class="fa fa-heart" aria-hidden="true"></i><br>Desayuno</p>
                                {%else%}
                                <p><i class="fa fa-heart" aria-hidden="true"></i><br>No Disponible</p>
								{%endif%}
							</div>	
					</div>
			</div>
            <p class="subtitle title text-center">Servicios Extras </p>
                <p class="text-center">{%for alojamiento in servicios_extra%}{{alojamiento.tipo}},{%endfor%}</p>
            <hr>
            <h3 class="subtitle title text-center"><i class="fa fa-bed" aria-hidden="true"></i> Habitaciones</h3>
            {%for alojamiento in habitaciones%}
                <p><i class="fa fa-bed" aria-hidden="true"></i> {{alojamiento.tipo}}: <span class="subtitle title"> $ {{alojamiento.precio}} MXN.</span></p>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#galeria{{alojamiento.id}}">
                  Fotos
                </button>
                <!-- Modal -->
                <div class="modal fade" id="galeria{{alojamiento.id}}" tabindex="-1" role="dialog" aria-labelledby="#galeria{{alojamiento.id}}Label" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="title" id="#galeria{{alojamiento.id}}Label">Galería</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        {% for ga in alojamiento.get_galeria %}
                        <img src="{{ga.image.url}}" alt="Teotihuacan slide" class="img-fluid" width="350" height="350">
                        {%endfor%}
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
            {%endfor%}
            <hr>
            <h2 class="subtitle title text-center"><i class="fa fa-map" aria-hidden="true"></i> Mapa</h2>
            <div id='map' style='width:auto; height: 300px;'></div>
            <hr> 
        </div>
         
        <div class="col-lg-6 col-md-6 col-sm-12">
            <h2 class="subtitle title text-center"><i class="fa fa-eye" aria-hidden="true"></i> Descripción</h2>
            <p>{{alojamiento.descripcion|markdown}}</p>            
            <hr>
            <h2 class="subtitle title text-center"><i class="fa fa-camera" aria-hidden="true"></i> Fotografías</h2>
            <div class="container" style="padding-top:0px;">
            <!--First row-->
                        <div class="row mb-2 mt-1">
                            
                            <!--Carousel header-->
                            <div class="col-md-12"> 

                                <!--Carousel Wrapper-->
                                <div id="carousel-example-1" class="carousel slide carousel-fade z-depth-1-half" data-ride="carousel">
                                    <!--Indicators-->
                                    <ol class="carousel-indicators">
                                        <li data-target="#carousel-example-1" data-slide-to="0" class="active"></li>
                                        <li data-target="#carousel-example-1" data-slide-to="1"></li>
                                        <li data-target="#carousel-example-1" data-slide-to="2"></li>
                                    </ol>
                                    <!--/.Indicators-->

                                    <!--Slides-->
                                    <div class="carousel-inner" role="listbox">
                                        <!--First slide-->
                                        <div class="carousel-item active">
                                            <a href="#!"><img src="{{alojamiento.foto_portada.url}}" alt="First slide" class="img-fluid"></a>
                                        </div>
                                        <!--/First slide-->

                                        <!--Second slide-->
                                        <div class="carousel-item">
                                            <a href="#!"><img src="{{alojamiento.foto_portada2.url}}" alt="Second slide" class="img-fluid"></a>
                                        </div>
                                        <!--/Second slide-->

                                        <!--Third slide-->
                                        <div class="carousel-item">
                                            <a href="#!"><img src="{{alojamiento.foto_portada3.url}}" alt="Third slide" class="img-fluid"></a>
                                        </div>
                                        <!--/Third slide-->
                                    </div>
                                    <!--/.Slides-->

                                    <!--Controls-->
                                    <a class="carousel-control-prev" href="#carousel-example-1" role="button" data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carousel-example-1" role="button" data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                    <!--/.Controls-->
                                </div>
                                <!--/.Carousel Wrapper-->

                            </div>
                            <!--/Carousel header-->
                            
                        </div>
                        <!--/First row-->
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-4 text-center">
                    <a href="{{alojamiento.sitio_web}}" class="btn btn-danger" target="_blank">más información...</a>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-4 text-center">
                    <a href="https://api.whatsapp.com/send?phone={{alojamiento.tel_2}}&text=Me%20gustaría%20hacer%20una%20Reservacion%20en%20{{alojamiento.nombre}}%20enviado%20desde%20Teotihuacán%20Mágico" class="btn btn-danger" target="_blank"> Reservación por WhatsApp</a>
                </div>
            </div>         
        </div>
    </div>
</div>
<script>

      function initMap() {
        var myLatLng = {lat: {{alojamiento.lat|jsonify}} , lng: {{alojamiento.lng|jsonify}} };

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 14,
          center: myLatLng
        });
        {% for m  in marcadores  %}
          var marker = new google.maps.Marker({
          position:{lat: {{m.latitud|jsonify}} , lng: {{m.longitud|jsonify}} },
          map: map,
          title: '{{m.nombre|jsonify}}'
        });  
        {% endfor %}
        
      }

</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtjM5A6W-i81IPpnYzXbwDpRbNJ0iVc0E&callback=initMap">
</script>
{%endblock content%}


{%block scripts%}

{%endblock scripts%}