{%extends 'base.html' %}
{% load actividad_tags %}
{%load static%}
{%block head%}

{%endblock head%}

{%block header%}

<!-- streak -->
<div class="streak hm-black-strong streak-lg streak-photo view" style="background-image:url({%static 'img/Header.jpg'%})">
	<div class="flex-center mask">
		<ul class="white-text smooth-scroll title">
			<li><h2 class="h2-responsive">¿Qué hacer?</h2></li>
			<li><h5 class="text-center  wow fadeIn subtitle" data-wow-delay="0.2s">Conoce actividades,festividades y más... </h5></li>
		</ul>
	</div>
</div>
<!-- /.streak -->
{%endblock header%}
{%block content%}
<div class="container text-center">
	<div class="row">
		<div class="col-12 col-sm-12 col-md-12 col-lg-12">	
			<h2 class="title">Categorias</h2>
			<ul class="list-categoria">
				<li {% if not categoria  %}{% endif %} id="catego">
					<a href="{%url 'actividades:actividad_list' %}" class="list">Todas</a>
				</li>
				{% for c in categorias %}
				<li{% if categoria.slug == c.slug %}{% endif %} id="catego">
					<a href="{{c.get_absolute_url}}" class="list">{{c.slug}}</a>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
<div class="container" style="padding-bottom: 10px;padding-top: 10px;">
		<h2 class="text-center title">
			{% if categoria %}
				{{categoria.nombre}}
			{%else%}
				Todas
			{% endif %}
		</h2>
		{%for Actividad in actividades%}
		{% if forloop.first %}
		<div class="row" style="padding-top: 3px;">
		{%endif%}
		<div class="col-lg-3 col-md-4 col-sm-6 text-center">
			<div class="card bordesito" style="width: 17rem;">
			  <img class="card-img-top" src="{{Actividad.logo.url}}" alt="{{Actividad.nombre}}" style="height:150px; weight:50px;">
			  <div class="card-block">
			    <h4 class="card-title title-card">{{Actividad.nombre}}</h4>
			    <p class="card-text"><i class="fa fa-bookmark" aria-hidden="true"></i> {{Actividad.categoria}}</p>
			    <p class="card-text">{{Actividad.descripcion|markdown|truncatewords_html:15}}</p>
			    <a href="{{Actividad.get_absolute_url}}" class="btn btn-primary">más información...</a>
			  </div>
			</div>
		</div>
		{% if forloop.counter|divisibleby:4 %}
		</div><br><br><div class="row">
	    {% endif %}            
	    {% if forloop.last %}
	        </div>
	    {% endif %} 
    {%endfor%}
</div>
{%endblock content%}