{%extends 'base_detail.html' %} 
{% load actividad_tags %}
{% load jsonify %}
{%load static%}
{%block head%}
{%endblock head%}

{% block content%}

<div class="container" style="padding-top:150px;margin-bottom: 0px; background-color: #fafafa">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-8 text-center">
            <img src="{{actividad.logo.url}}" class="img-circle" style="width: 250px; height: 250px;">
            <hr>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-8">
            
            <h2 class="title text-center">{{actividad.nombre}}</h2>
            <p class="subtitle title text-center">Categoria: {{actividad.categoria.nombre}}</p>

            {% if actividad.available %}
            <p class=" subtitle title text-center">Status: Activa</p>    
            {% else %}
            <p class="subtitle title text-center">Status: No disponible</p>
            {%endif%}

            {%if actividad.fecha_inicial and actividad.fecha_final %}
            <p class="subtitle text-center">Del: {{actividad.fecha_inicial|date:"D d M Y"}}  Al: {{actividad.fecha_final|date:"D d M Y"}}</p>   
            {%elif actividad.fecha_unica %}
            <p class = "subtitle title text-center">Fecha: {{actividad.fecha_unica|date:"D d M Y P"}}</p>
            {% else %}
            <p class="text-center subtitle title">Sin Fechas especificas</p>
            {%endif%}
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <p class="subtitle text-center title"><i class="fa fa-bolt" aria-hidden="true"></i> Información General</p>
            <!--<p><i class="fa fa-calendar" aria-hidden="true"></i> {{evento.fecha}}h.</p>-->
            <p><i class="fa fa-map-marker" aria-hidden="true"></i> {{actividad.ubicacion}}.</p>

            {%if actividad.telefono%}
            <p><i class="fa fa-phone" aria-hidden="true"></i> {{actividad.telefono}}</p>
            {%else%}
            <p><i class="fa fa-phone" aria-hidden="true"></i> No Disponible</p>
            {%endif%}

            {%if actividad.telefono2%}
            <p><i class="fa fa-mobile" aria-hidden="true"></i> {{actividad.telefono2}}</p>
            {%else%}
            <p><i class="fa fa-mobile" aria-hidden="true"></i> No Disponible</p>
            {%endif%}

            <p><i class="fa fa-envelope" aria-hidden="true"></i> {{actividad.correo}}</p>
            <!--<p><a href="{{actividad.sitio_web}}" target="_blank" style="color:#000;"><i class="fa fa-globe" aria-hidden="true"></i> {{actividad.sitio_web}}</a></p>-->
            <hr>
            <div class="container text-center">
                <p class="subtitle title text-center"> Redes Sociales</p>
                <div class="row">
                    <div class="col-lg-3 col-sm-3">
                        <p><a href="{{actividad.facebook}}" style="color:blue;" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></p>
                    </div>
                    <div class="col-lg-3 col-sm-3">
                        <p><a href="{{actividad.twitter}}" style="color:cornflowerblue;" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></p>
                    </div>
                    <div class="col-lg-3 col-sm-3">
                        <p><a href="{{actividad.instagram}}" style="color: rgba-purple-strong;" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></p>
                    </div>
                    <div class="col-lg-3 col-sm-3">
                        <p><a href="{{actividad.youtube}}" style="color:red;" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a></p>
                    </div>  
                </div>
            </div>
            <hr>
             <h3 class="subtitle title text-center"><i class="fa fa-money" aria-hidden="true"></i> Precios</h3>
            {%for actividad in precios%}
            <p class="subtitle title"><span class="subtitle title">{{actividad.tipo}}</span> = ${{actividad.costo}} MXN.</p>
            <p>{{actividad.incluye|markdown}}</p>
            <p>{{actividad.no_incluye|markdown}}</p>
            {%endfor%}
            <hr>
            <h2 class="subtitle title text-center"><i class="fa fa-map" aria-hidden="true"></i> Mapa</h2>
            <div id='map' style='width:auto; height: 300px;'></div>
            <hr>  
            <!-- <p>Servicios Extras: {%for evento in servicios_extra%}{{evento.tipo}},{%endfor%}</p> -->
            <!-- <hr>
            <h3 class="subtitle">Servicios</h3>
            <div class="container text-center">
                    <div class="row">
                            <div class="col-lg-3 col-sm-3">
                                {%if evento.banos == True %}
                                <p><i class="fa fa-bath" aria-hidden="true"></i><br>Baños</p>
                                {%else%}
                                <p></p>
                                {%endif%}
                            </div>
                            <div class="col-lg-3 col-sm-3">
                                {%if evento.estacionamiento == True %}
                                <p><i class="fa fa-car" aria-hidden="true"></i><br>Estacionamiento</p>
                                {%else%}
                                <p><i class="fa fa-car" aria-hidden="true"></i><br>No Disponible</p>
                                {%endif%}
                            </div> 
                    </div>
            </div> -->
        </div>
            
        <div class="col-lg-6 col-md-6 col-sm-12">
            <p class="subtitle title text-center"><i class="fa fa-eye" aria-hidden="true"></i> Descripción: <br> {{actividad.descripcion|markdown}}</p>            
            <hr>
            <p class="subtitle title text-center"><i class="fa fa-bell" aria-hidden="true"></i> Sugerencias: <br>{{actividad.sugerencia|markdown}}</p>
            <hr>
            <p class="subtitle title text-center"><i class="fa fa-camera" aria-hidden="true"></i> Fotografias</p>
            <div class="container" style="padding-top:0px;">
            <!--First row-->
                        <div class="row mb-2 mt-1">
                            
                            <!--Carousel header-->
                            <div class="col-lg-12 col-md-12 col-sm-12"> 

                                <!--Carousel Wrapper-->
                                <div id="teotihuacan-magico-1" class="carousel slide carousel-fade z-depth-1-half" data-ride="carousel">
                                    <!--Indicators-->
                                    <ol class="carousel-indicators">
                                        <li data-target="#teotihuacan-magico-1" data-slide-to="0" class="active"></li>
                                        <li data-target="#teotihuacan-magico-1" data-slide-to="1"></li>
                                        <li data-target="#teotihuacan-magico-1" data-slide-to="2"></li>
                                    </ol>
                                    <!--/.Indicators-->

                                    <!--Slides-->
                                    <div class="carousel-inner" role="listbox">
                                        <!--First slide-->
                                        <div class="carousel-item active">
                                            <a href="#!"><img src="{{actividad.portada1.url}}" alt="First slide" class="img-fluid"></a>
                                        </div>
                                        <!--/First slide-->

                                        <!--Second slide-->
                                        <div class="carousel-item">
                                            <a href="#!"><img src="{{actividad.portada2.url}}" alt="Second slide" class="img-fluid"></a>
                                        </div>
                                        <!--/Second slide-->

                                        <!--Third slide-->
                                        <div class="carousel-item">
                                            <a href="#!"><img src="{{actividad.portada3.url}}" alt="Third slide" class="img-fluid"></a>
                                        </div>
                                        <!--/Third slide-->
                                    </div>
                                    <!--/.Slides-->

                                    <!--Controls-->
                                    <a class="carousel-control-prev" href="#teotihuacan-magico-1" role="button" data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#teotihuacan-magico-1" role="button" data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                    <!--/.Controls-->
                                </div>
                                <!--/.Carousel Wrapper-->

                            </div>
                            <!--/Carousel header-->
                            
                        </div>
                        <!--/First row-->
            </div>
            <div class="col-lg-12 col-md-12 col-sm-8 text-center">
                <a href="{{actividad.url_boletos}}" class="btn btn-danger" target="_blank">+ Información</a>
            </div>     
        </div>
    </div>
</div>
<script>

      function initMap() {
        var myLatLng = {lat: {{actividad.lat|jsonify}} , lng: {{actividad.lng|jsonify}} };

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 14,
          center: myLatLng
        });
        {% for m  in marcadores  %}
          var marker = new google.maps.Marker({
          position:{lat: {{m.latitud|jsonify}} , lng: {{m.longitud|jsonify}} },
          map: map,
          title: '{{m.nombre|jsonify}}'
        });  
        {% endfor %}
        
      }

</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtjM5A6W-i81IPpnYzXbwDpRbNJ0iVc0E&callback=initMap">
</script>
{%endblock content%}


{%block scripts%}

{%endblock scripts%}

