@media screen and (min-width:320px){
h2.title_blog{
	font-size: 40px;
}
h1.title-tour{
	font-size: 40px;
}
}

@media screen and (min-width:550px){
h2.title_blog{
	font-size: 70px;
}
h1.title-tour{
	font-size: 70px;
}
}

@media screen and (min-width:768px){
h2.title_blog{
	font-size: 70px;
}
h1.title-tour{
	font-size: 70px;
}
}

@media screen and (min-width:960px){
h2.title_blog{
	font-size: 50px;
}
h1.title-tour{
	font-size: 50px;
}
}