nav.navbar.visibles{
  background-color:#d3384e;
	color: white;
  font-family: 'Denk One', sans-serif;
}
.title_blog{
  font-family: 'Denk One', sans-serif;
  color: #fff;
  font-size: 50px;
}
.subtitle_blog{
  font-family: 'Denk One', sans-serif;
  color: #fff;
  font-size: 15px;
}

.title{
	font-family: 'Denk One', sans-serif;
	color: #05bca9;
	font-size: 40px;
}


.subtitle{
	font-family: 'Denk One', sans-serif;
	font-size: 15px;
}
.title-card{
	font-family: 'Denk One', sans-serif;
	color: #05bca9;
	font-size: 30px;
}

.title-card-white{
	font-family: 'Denk One', sans-serif;
	color: #fff;
	font-size: 30px;
}

.title-blog{
	font-family: 'Denk One', sans-serif;
	color: #ffea00;
	font-size: 70px;
	font-style: italic;
	font-weight: bold;
}

h1.sletrero{
	-webkit-animation-duration: 4s;
	
}
p.sletrero{
	-webkit-animation-duration: 4s;
}

p{
	font-family: 'Ubuntu', sans-serif;
}
/*
ul.social-buttons li a {
  display:inline-block;
  height: auto;
  width: 100px;
  /*border-radius: 100%;*/
 /* font-size: 20px;
  line-height: 30px;
  color:orange ;
  outline: dashed ;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
ul.social li a {

  height: 60px;
  width: 60px;
  border-radius: 100%;
  font-size: 25px;
  line-height: 40px;
  color:#000;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

ul.social-buttons li i:hover,
ul.social-buttons li i:focus,
ul.social-buttons li i:active {
  color: #B4725F;
}
ul.social li i:hover,
ul.social li i:focus,
ul.social li i:active {
  color: #B4725F;
}*/
/*ul.list-inline {
  margin-bottom: 30px;
  margin-top: 0;
}*/
ul.list-categoria {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:transparent;
}

li#catego {
    float: left;
}

li a.list {
    display: block;
    color: #d3384e;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
}

li a.list:hover {
	color: #d3384e;
  background-color: transparent;
  border:1px solid #d3384e;
  border-radius: 30px;
}

div.card.bordesito{
  border: 2px solid #d3384e;
}

div.card.bordesito:hover{
  border: 2px solid #fff;
}

hr{
  background-color: #ffea00;
}


.jumbotron{
    background: url("../img/fondo_post-01.png") no-repeat center center; 
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    padding-top: 200px;
}


.blog_d {
    height: 555px;
    position: block;
    z-index: 1;
    background-position: bottom center;
    background-size: cover;
    color: #fff;
    text-align: center;
    -webkit-filter: opacity(95%); /* Safari */
    filter: opacity(95%);
}

.blog_d:after {
    position: absolute;
    width: 100%;
    left: 0;
    height: 2px;
    background-color: #fff;
    content: '';
    bottom: 0;
    z-index: 2;
    color: #fff;
}

img.zoom{
  /* Aumentamos la anchura y altura durante 2 segundos */
        transition: width 2s, height 2s, transform 2s;
        -moz-transition: width 2s, height 2s, -moz-transform 2s;
        -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
        -o-transition: width 2s, height 2s,-o-transform 2s;
}

img.zoom:hover{
    /* tranformamos el elemento al pasar el mouse por encima al doble de
           su tamaño con scale(2). */
        z-index:10;
        transform : scale(2);
        -moz-transform : scale(2);      /* Firefox */
        -webkit-transform : scale(2);   /* Chrome - Safari */
        -o-transform : scale(2);        /* Opera */
}