{% load blog_tags %}
{% load actividad_tags %}
<ul class="list-group">
	{% for post in latest_posts %}
		<li class="list-group-item">
			<a href="{{ post.get_absolute_url }}">{{  post.title }}</a>
			<p class="text-center">{{ post.body|markdown|truncatewords_html:5 }}</p>
		</li>
	{% endfor %}
</ul>