<div class="container text-center">
	<div class="row">
		<div class="col-lg-12 col-lg-offset">
			{% if page.has_previous %}
				<a href="?page={{ page.previous_page_number }}"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
			{% endif %}
			<strong><big>
				{{ page.number }} de {{ page.paginator.num_pages }}
			</strong></big>
			{% if page.has_next %}
				<a href="?page={{ page.next_page_number }}"><i class="fa fa-arrow-right"></i></a>
			{% endif %}
		</div>
	</div>
</div>