{% extends 'base.html'%}
{%load static%}
{% load blog_tags %}
{% load actividad_tags %}
{% block title %}
	Blog
{% endblock title %}
{%block head%}
	
{%endblock head%}
{%block header%}
<!-- streak -->
<div class="streak hm-black-strong streak-lg streak-photo view" style="background-image:url({%static 'img/blog_2.jpg'%})">
        <div class="flex-center mask">
            <ul class="white-text smooth-scroll title">
                <li><h2 class="h2-responsive">BLOG</h2></li>
                <li><h5 class="text-center  wow fadeIn" data-wow-delay="0.2s">Experiencias de nuestros turistas</h5></li>

            </ul>
        </div>
</div>
<!-- /.streak -->

{%endblock header%}
{% block content %}
    <div class="container" style="padding-top: 50px;">
        <div class="divider-new " >
            <h2 class="h2-responsive title">Nuevas entradas</h2>
        </div>
           
        <!--Newsfeed-->
        <div class="newsfeed">
            {% for post in posts %}
            {% if forloop.first %}
            <!--First row-->
            <div class="row">
            {%endif%}
                <!--First column-->
                <div class="col-md-6 mb-r " >

                    <!--Card-->
                    <div class="card card-cascade narrower">

                        <!--Card image-->
                        <div class="view overlay hm-white-slight z-depth-1">
                            <img src="{{ post.portada.url}}" class="img-fluid" alt="">
                            <a>
                                <div class="mask"></div>
                            </a>
                        </div>
                        <!--/Card image-->

                        <!--Card content-->
                        <div class="card-body text-center">
                            {% for tag in post.tags.all %}
                            <h5>
                            <a href="{% url 'blog:post_list_by_tag' tag.slug %}" class="teal-text">{{ tag.name }}
                            {% if not forloop.last %}, {% endif %}
                            {% endfor %}
                            </a></h5>
                            <!--Title-->
                            <h4 class="card-title title-card">{{ post.title|truncatewords_html:3 }}</h4>
                            <!--Text-->
                            <!--<p class="card-text">{{ post.body|markdown|truncatewords_html:10 }}</p>-->
                            <a class="btn btn-primary" href="{{ post.get_absolute_url }}">Leer</a>
                        </div>
                        <!--/Card content-->

                    </div>
                    <!--/Card-->
                </div>
                <!--/First column-->
            {% if forloop.counter|divisibleby:2 %} 
            </div><div class="row">
            {% endif %}            
            {% if forloop.last %}
                </div>
            {% endif %}
        {% endfor %}
        </div>
    </div> 
	{% include "blog/pagination.html" with page=posts %}
	<!--/Pagination dark-->
	{%include "blog/publicaciones_comentadas.html" %}
{% endblock content %}