{% extends 'base_blog.html' %}

{% block title %}
	Compartir una publiación
{% endblock title %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				{% if sent %}
					<h1>Correo enviado satisfactoriamente</h1>
					<hr>
					<br>
					<p>
						<big>"{{ post.title }}" fue enviado satisfactoriamente.</big>
					</p>
					<br>
					<p class="text-primary">
						Quieres volver a la publicación has click <a class="btn btn-primary" href="{{ post.get_absolute_url }}">AQUI</a>
					</p>
				{% else %}
					<h1 class="text-success">Compartir "{{ post.title }}" por correo</h1>
					<hr>
					<br>
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="container">
								<div class="row">
									<div class="col-md-8 col-md-offset-2">
										<hr>
										<form action="." method="post">
											<div class="form-group">
												{{ form.as_p }}
												{% csrf_token %}
												<input type="submit" name="" value="Enviar Correo" class="btn btn-success btn-lg">
											</div>
										</form>
										<hr>
									</div>
								</div>
							</div>		
						</div>
					</div>
				{% endif %}
			</div>	
		</div>
	</div>
{% endblock content %}