{% extends "base.html" %}
{% load static%}


{% block title %}
    
    {% if category %}
        {{category.name}}
    {% else %}
        Artesanias
    {%endif%}
        
{% endblock title %}
    
{%block header%}
<!-- streak -->
<div class="streak hm-black-strong streak-lg streak-photo view" style="background-image:url({%static 'img/art.jpg'%})">
    <div class="flex-center mask">
        <ul class="white-text smooth-scroll title">
            <li><h2 class="h2-responsive"> PRONTO</h2></li>
            <li><h5 class="text-center  wow fadeIn" data-wow-delay="0.2s">Compra y apoya a los artesanos locales</h5></li>
            <li><h1>Trabajando en esta sección</h1></li>
        </ul>
    </div>
</div>
<!-- /.streak -->
{%endblock header%}
 

{% block content%}

<!-- <div class="container" style="padding-top: 150px;">
    {% for product in products %}
        
        {% if forloop.first %}
            <div class="row">
        {% endif %}
        <div class="col-md-3">
            <br><div class="card" style="width: 17rem;">
                <img class="card-img-top" src="{{product.image.url}}" alt="Artesanias" style="height:150px; weight:50px;">
                <div class="card-block">
                    <h4 class="card-title title-card text-center">{{product.name}}</h4>
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:4 %}
            </div><br><br><div class="row">
        {% endif %}            
        {% if forloop.last %}
            </div>
        {% endif %}       
    {% endfor %} 
</div> -->
		
{% endblock content %}
