<!DOCTYPE html>
{%load static%}
<html  lang="es" >
            <head>
               <meta charset="utf-8">
                <title>Teotihuacán Mágico</title>
                <!--Facebook-->
                <!-- You can use open graph tags to customize link previews.
                Learn more: https://developers.facebook.com/docs/sharing/webmasters -->
                <meta property="og:url"           content="http://teotihuacanmagico.com.mx/blog.html" />
                <meta property="og:type"          content="article" />
                <meta property="og:title"         content="Teotihuacán Mágico" />
                <meta property="og:description"   content="Sitio Web de Teotihuacán" />
                <meta property="og:image"         content="http://teotihuacanmagico.com.mx/static/img/teo2.png" />
               <!--parte responsiva-->
                <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
               <!-- css -->
               <!-- Bootstrap core CSS -->
               <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"> 
               <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
               <!-- iconos -->
               <link rel="icon" type="image/png" href="{% static 'img/page-ico.png'%}">
               <link href="{%static 'css/compiled.min.css'%}" rel="stylesheet">
               <link href="{%static 'css/style_me.css'%}" rel="stylesheet">
               <link href="https://fonts.googleapis.com/css?family=Denk+One" rel="stylesheet">
               
               <!--CSS for NAVBAR-->
               <style>
                   
                    .top-nav-collapse {
                        background-color: #ffc107 !important; 
                    }
                    .navbar:not(.top-nav-collapse) {
                        background: #2ecc71 !important;
                        font-family: 'Denk One', sans-serif;
                    }
                    @media (max-width: 768px) {
                        .navbar:not(.top-nav-collapse) {
                            background: #2ecc71 !important;
                        } 
                    }
                    h1 {
                        letter-spacing: 8px;
                    }
                    h5 {
                        letter-spacing: 3px;
                    }
                    .hr-light {
                        border-top: 3px solid #fff;
                        width: 80px;
                    }
                    footer.page-footer {
                        background-color: #6f7782;
                    }
                    @media (max-width: 450px) {
                        .btn-floating {
                            margin-left: 0;
                            margin-right: 0;
                        }
                    }              
               </style>
            
            </head>
            
            <body>
             <header>
                 <!--Navbar-->
                    <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
                        <div class="container">
            
                            <a class="navbar-brand" href="{%url 'home:home'%}"><img src="{%static 'img/teo1.png'%}" class="img-responsive" style="height: 70px;width: 70px;"></a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7" aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
                                <ul class="navbar-nav mr-auto">
                                  <li class="nav-item">
                                    <a class="nav-link " href="{%url 'eventos:evento_list'%}">Eventos</a>
                                  </li>
                                  <li class="nav-item">
                                    <a class="nav-link " href="{%url 'actividades:actividad_list'%}">Actividades</a>
                                  </li>
                                  <li class="nav-item">
                                    <a class="nav-link " href="{%url 'tours:tour_list'%}">Tours</a>
                                  </li>
                                  <li class="nav-item">
                                    <a class="nav-link " href="{%url 'shop:list-product'%}">Artesanias</a>
                                  </li> 
                                  <li class="nav-item">
                                    <a class="nav-link" href="{%url 'restaurantes:restaurant_list'%}">Restaurantes</a>
                                  </li>
                                  <li class="nav-item">
                                    <a class="nav-link " href="{%url 'alojamientos:alojamiento_list'%}">Hoteles</a>
                                  </li>
                                  <li class="nav-item">
                                    <a class="nav-link " href="{%url 'servicios:servicio_list'%}">Servicios</a>
                                  </li>
                                  <li class="nav-item">
                                    <a class="nav-link " href="{%url 'blog:post_list'%}">Blog</a>
                                  </li>
                                </ul>
                                                        
                                
                            </div>
                        </div>
                    </nav>   
               </header>
               
               {% block shop%}
            
               {% endblock shop%}
            
               <!--Footer-->
                <footer class="page-footer  center-on-small-only pt-0" style="margin-top: 0px;background-color: #e67e22;">
            
                    <!--Footer Links-->
                    <div class="container">
            
                        <!--First row-->
                        <div class="row">
            
                            <!--First column-->
                            <div class="col-md-12 wow fadeIn" data-wow-delay="0.3s">
            
                                <div class="text-center d-flex justify-content-center my-4">
            
                                    <!--Facebook-->
                                    <a class="icons-sm fb-ic" href="https://www.facebook.com/teotihuacanmagicomx/" target="_blank"><i class="fa fa-facebook white-text fa-lg pr-md-4"> </i></a>
                                    <!--Twitter-->
                                    <a class="icons-sm tw-ic" href="https://twitter.com/teotihucan_mag" target="_blank"><i class="fa fa-twitter white-text fa-lg pr-md-4"> </i></a>
                                    <a class="icons-sm ins-ic" href="https://www.instagram.com/teotihuacan_magico" target="_blank"><i class="fa fa-instagram white-text fa-lg pr-md-4"> </i></a>
                                </div>
                                <div class=" d-flex justify-content-center my-4">
                                  <a href="https://www.instagram.com/teotihucan_magico" target="_blank"><img src="{%static 'img/teo1.png'%}" style="width: 150px; height: 100px;"></a>
                                </div>
                            </div>
                            <!--/First column-->
            
                        </div>
                        <!--/First row-->
            
                    </div>
                    <!--/Footer Links-->
                    
                    <!--Copyright-->
                    <div class="footer-copyright wow fadeIn" data-wow-delay="0.3s">
                        <div class="container-fluid">
                            © 2017 Design: <a href="#">FullStack Community</a>
            
                        </div>
                    </div>
                    <!--/Copyright-->
            
                </footer>
                <!--/Footer-->
               <!-- Java Script
               ================================================== --> 
               <!-- SCRIPTS -->
               <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
               <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
               <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
            
               <script>
                  function makeSticky(){
                     var myWindow = $(window),
                        myHeader = $(".navbar");
            
                        myWindow.scroll(function(){
                           if (myWindow.scrollTop()==0){
                              myHeader.removeClass("visibles");
                           }else{
                              myHeader.addClass("visibles");
                           }
                        });
                  }
            
                  $(function(){
                     makeSticky();
                  });
               </script>
               
              <div id="fb-root"></div>
              <script>(function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.10&appId=1792492330768829";
                fjs.parentNode.insertBefore(js, fjs);
              }(document, 'script', 'facebook-jssdk'));</script>
            
            
              
            </body>
            
            </html>

        </div>
    </div>

    <!--   Core JS Files   -->
    <script src="{% static 'js/jquery-3.1.1.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
            
   
</body>
</html>