<!DOCTYPE html>
{%load static%}

<html  lang="es" >
<head>   
   <meta charset="utf-8">
    <title>Teotihuacán Mágico</title>
    {% block head %}
    {% endblock head %}
   <!--parte responsiva-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
   <!-- css -->
   <!-- Bootstrap core CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"> 
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   <!-- iconos -->
   <link rel="icon" type="image/png" href="{% static 'img/page-ico.png'%}">
   <link href="{%static 'css/compiled.min.css'%}" rel="stylesheet">
   <link href="{%static 'css/style_me.css'%}" rel="stylesheet">
   <link href="{%static 'css/prestadores.css'%}" rel="stylesheet">
   <!--mediaqueries-->
   <link href="{%static 'css/mediaqueries.css'%}" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Denk+One" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
   <!--Para MapBox
   <script src='https://api.mapbox.com/mapbox-gl-js/v0.42.0/mapbox-gl.js'></script>
   <link href='https://api.mapbox.com/mapbox-gl-js/v0.42.0/mapbox-gl.css' rel='stylesheet' />-->
   <!--CSS for NAVBAR-->
   <style>
       
        .top-nav-collapse {
            background-color: #d3384e !important; 
        }
        .navbar:not(.top-nav-collapse) {
            background: #d3384e !important;
            font-family: 'Denk One', sans-serif;
        }
        @media (max-width: 768px) {
            .navbar:not(.top-nav-collapse) {
                background: #d3384e !important;
            } 
        }
        h1 {
            letter-spacing: 8px;
        }
        h5 {
            letter-spacing: 3px;
        }
        .hr-light {
            border-top: 3px solid #fff;
            width: 80px;
        }
        footer.page-footer {
            background-color: #6f7782;
        }
        @media (max-width: 450px) {
            .btn-floating {
                margin-left: 0;
                margin-right: 0;
            }
        }              
   </style>
   
</head>

<body>
 <header>
     <!--Navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
            <div class="container">

                <a class="navbar-brand" href="{%url 'home:home'%}"><img src="{%static 'img/teo-white.png'%}" class="img-responsive" style="height: 70px;width: 70px;"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7" aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
                    <ul class="navbar-nav mr-auto">
                      <li class="nav-item">
                        <a class="nav-link " href="{%url 'actividades:actividad_list'%}">¿Qué hacer?</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{%url 'restaurantes:restaurant_list'%}">¿Dónde comer?</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link " href="{%url 'alojamientos:alojamiento_list'%}">¿Dónde dormir?</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link " href="{% url 'ruta:lugar_list' %}">¿Cómo llegar?</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link " href="{%url 'eventos:evento_list'%}">Eventos</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link " href="{%url 'tours:tour_list'%}">Tours</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link " href="{%url 'shop:list-product'%}">Artesanias</a>
                      </li> 
                      <li class="nav-item">
                        <a class="nav-link " href="{%url 'servicios:servicio_list'%}">Básicos</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link " href="{%url 'blog:post_list'%}">Blog</a>
                      </li>
                    </ul>
                                            
                    
                </div>
            </div>
        </nav>   
   </header>
   {% block content%}

   {% endblock content%}

    <!--========== FOOTER ==========-->
    <footer class="footer sticky-top" style="padding: 50px;background-color: #d3384e;color:#fff;">
        <!--Footer Links-->
        <div class="container">
            <!--First row-->
            <div class="row">
                <!--First column-->
                <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                    <div class="justify-content-center">
                        <p><strong class="subtitle">Información de Contácto</strong><br>    
                        <strong class="subtitle">Dirección </strong><br>
                        <strong class="subtitle">San Juan Teotihuacán, México </strong><br>
                        <strong class="subtitle">Tel.Cel: 5551765406 </strong><br>
                        <strong class="subtitle">Tel.Cel: 5528664925 </strong><br>
                        <strong class="subtitle">Email: teotihuacanmagico@outlook.com</strong><br>
                        <strong class="subtitle">Email: teotihuacanmagico@gmail.com</strong> </p>
                    </div>
                    <hr style="background-color:#fff;">
                    <!--Facebook-->
                    <a class="icons-sm fb-ic" href="https://www.facebook.com/teotihuacanmagicomx/" target="_blank"><i class="fa fa-facebook white-text fa-lg pr-md-4"> </i></a>
                    <!--Twitter-->
                    <a class="icons-sm tw-ic" href="https://twitter.com/teotihuacan_mag" target="_blank"><i class="fa fa-twitter white-text fa-lg pr-md-4"> </i></a>
                    <a class="icons-sm ins-ic" href="https://www.instagram.com/teotihuacan_magico" target="_blank"><i class="fa fa-instagram white-text fa-lg pr-md-4"> </i></a>
                    <div class="fb-share-button" data-href="https://www.facebook.com/teotihuacanmagicomx/" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.facebook.com%2Fteotihuacanmagicomx%2F&amp;src=sdkpreparse">Compartir</a></div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                    <div class="text-justify d-flex justify-content-center">
                        <p class="subtitle"><strong>Acerca de Teotihuacán Mágico</strong> <br>
                        Sitio web interactivo que fomenta el turismo y consumo local de productos y servicios regionales, acercando y compartiendo un sin fin de actividades que no querrás vivir solo una vez.
                        </p>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                    <div class="justify-content-center">
                      <div class="text-center">
                        <img src="{% static 'img/teo-white.png' %}" alt="Teotihuacán Mágico" width="200" height="230">
                        <h2 class="subtitle">¡Teotihuacán a un click!</h2>
                      </div>
                    </div>
                </div>
                <!--/First column-->
            </div>
            <!--/First row-->
        </div>
        <!--/Footer Links-->
        <!--Copyright-->
        <div class="footer-copyright">
            <div class="container text-center subtitle">
                <strong>Desarrollado</strong> con <strong>mucho</strong>
                <i class="fa fa-coffee" aria-hidden="true"></i> por: <a  style="text-decoration: underline; color: #fff;"
                href="http://www.fullstackcommunity.com.mx" target="_blank"><strong>FullStackCommunity</strong></a>
            </div>
        </div>
        <!--/Copyright-->
    </footer>
    <!--/Footer-->
    <!--========== END FOOTER ==========-->
   <!-- Java Script
   ================================================== --> 
   <!-- SCRIPTS -->
   <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

   <script>
      function makeSticky(){
         var myWindow = $(window),
            myHeader = $(".navbar");

            myWindow.scroll(function(){
               if (myWindow.scrollTop()==0){
                  myHeader.removeClass("visibles");
               }else{
                  myHeader.addClass("visibles");
               }
            });
      }

      $(function(){
         makeSticky();
      });
   </script>
   
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.10&appId=1792492330768829";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <!--Markdown-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      $(".content-markdown").each(function(){
        /*var content = $(this).text()
        console.log(content)
        var markedContent = marked(content)
        console.log(markedContent)
        $(this).html(markedContent)*/
      })
      $(".content-markdown img").each(function(){
        $(this).addClass("img-fluid")        
      })

    })
  </script>
  
</body>

</html>