{%load static%}
{%block head%}

{%endblock head%}

{%block content%}

<div class="container-fluid" style="padding: 30px;" id="actividades">
	<h2>Actividades</h2>
	<div class="row" style="padding-top: 3px;">
		{%for Actividad in actividades%}
		<div class="col-md-4">
			<div class="card" style="width: 20rem;">
			  <img class="card-img-top" src="{{Actividad.portada.url}}" alt="Card image cap">
			  <div class="card-block">
			    <h4 class="card-title">{{Actividad.nombre}}</h4>
			    <p class="card-text">{{Actividad.descripcion|truncatewords_html:20}}</p>
			    <p class="card-text">Fecha: {{Actividad.fecha}}</p>
			    <a href="{{Actividad.get_absolute_url}}" class="btn btn-primary">más información...</a>
			  </div>
			</div>
		</div>
		{%endfor%}
	</div>
</div>

{%endblock content%}