{%extends 'base_detail.html' %} 
{% load static%}
{% load jsonify %}
{% load actividad_tags %}
{%block head%}
    <!--Facebook-->
    <!-- You can use open graph tags to customize link previews.
    Learn more: https://developers.facebook.com/docs/sharing/webmasters -->
    <meta property="og:url"           content="http://www.teotihuacanmagico.com.mx{{tour.get_absolute_url}}" />
    <meta property="og:type"          content="article" />
    <meta property="og:title"         content="{{ tour.nombre}}" />
    <meta property="og:description"   content="{{ tour.descripcion}}" />
    <meta property="og:image"         content="{{ tour.portada.url}}" />
{%endblock head%}
    

{% block content%}
<div class="jumbotron col-lg-12 col-md-12 col-sm-12">
    <div class="col-lg-12 col-md-12 col-sm-8 text-center">
        <img src="{{tour.logo.url}}" alt="Teotihuacan Mágico Tours" class="img-fluid" width="150" height="150">
    </div>
    <div class="container col-lg-12 col-md-12 col-sm-6">
        <h1 class="text-center  title-tour  title white-text">{{tour.nombre}}</h1>
        <p class="text-center animated slideInRight">www.teotihuacanmagico.com.mx</p>
    </div>
</div>

<div class="container"  style="padding-top:10px;margin-bottom: 0px; background-color: #fff">
    <div class="row">
        <div class="col-12 col-lg-12 col-md-12 col-sm-8">
            <p class="text-center subtitle title"><i class="fa fa-bolt" aria-hidden="true"></i> Información general</p>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <!--<p><i class="fa fa-calendar" aria-hidden="true"></i> {{tour.fecha}}h.</p>-->
            <p><i class="fa fa-map-marker" aria-hidden="true"></i>  {{tour.ubicacion}}.</p> 
            <p><i class="fa fa-hourglass" aria-hidden="true"></i> Duración: {{tour.duracion}}</p>
            <p><i class="fa fa-users" aria-hidden="true"></i> Cupo: {{tour.cupo}}</p>
            <hr>
            <h2 class="subtitle title text-center"><i class="fa fa-money" aria-hidden="true"></i> Precios</h2> 
            {% for p in precios  %}  
            <p class="subtitle title"><i class="fa fa-money" aria-hidden="true"></i> {{p.tipo}} - $ {{p.costo}} MXN</p>
            {% endfor %}
            <hr>
            <h2 class="subtitle title text-center"><i class="fa fa-flag" aria-hidden="true"></i> Incluye</h2>
            <p> {{tour.incluye|markdown}}</p>
            <hr>
            <h2 class="subtitle title text-center"><i class="fa fa-binoculars" aria-hidden="true"></i> Itinerario</h2>
            <p> {{tour.iterinario|markdown}}</p>
            <hr>
            <h2 class="subtitle title text-center">Mapa</h2>
            <div id='map' style='width:auto; height: 300px;'></div>
            <hr>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <h2 class="subtitle  title text-center"><i class="fa fa-eye" aria-hidden="true"></i> Descripción</h2>
            <p>{{tour.descripcion|markdown}}</p>
            <hr>
            <h2 class="subtitle  title text-center"><i class="fa fa-list-alt" aria-hidden="true"></i>              Recomendaciones para {{tour.nombre}}</h2>
            <p>{{tour.recomendacion|markdown}}</p>
            <hr>
            <h2 class="subtitle title text-center">Contácto</h2>
            <p><i class="fa fa-phone" aria-hidden="true"></i> {{tour.tel}}</p>
            <p><i class="fa fa-whatsapp" aria-hidden="true"></i> {{tour.telCel}}</p>
            <p><i class="fa fa-envelope" aria-hidden="true"></i> {{tour.correo}}</p>
            <div class="container text-center">
                <h2 class="subtitle title text-center">Redes Sociales</h2>
                <div class="row">
                    <div class="col-lg-3 col-sm-3">
                        <p><a href="{{tour.facebook}}" style="color:blue;" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></p>
                    </div>
                    <div class="col-lg-3 col-sm-3">
                        <p><a href="{{tour.twitter}}" style="color:cornflowerblue;" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></p>
                    </div>
                    <div class="col-lg-3 col-sm-3">
                        <p><a href="{{tour.instagram}}" style="color: rgba-purple-strong;" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></p>
                    </div>
                    <div class="col-lg-3 col-sm-3">
                        <p><a href="{{tour.youtube}}" style="color:red;" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a></p>
                    </div>  
                </div>
                <div class="col-lg-12 col-sm-12 text-center ">
                    <p>¡Ayúdanos compartiendo!</p>
                </div>
                <div class="fb-share-button" data-href="http://www.teotihuacanmagico.com.mx{{tour.get_absolute_url}}" data-layout="box_count" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank">Compartir</a>
                </div>
            </div>
            <hr>
            <div class="container" style="padding-top:0px;">
            <!--First row-->
            <div class="row mb-2 mt-1">
                
                <!--Carousel header-->
                <div class="col-md-12"> 
                    <h2 class="subtitle title text-center"><i class="fa fa-camera" aria-hidden="true"></i> Fotografías</h2>
                    <!--Carousel Wrapper-->
                    <div id="carousel-example-1" class="carousel slide carousel-fade z-depth-1-half" data-ride="carousel">
                        <!--Indicators-->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-1" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-1" data-slide-to="1"></li>
                            <li data-target="#carousel-example-1" data-slide-to="2"></li>
                        </ol>
                        <!--/.Indicators-->

                        <!--Slides-->
                        <div class="carousel-inner" role="listbox">
                            <!--First slide-->
                            <div class="carousel-item active">
                                <a href="#!"><img src="{{tour.portada.url}}" alt="{{ tour.nombre }}" class="img-fluid"></a>
                            </div>
                            <!--/First slide-->

                            <!--Second slide-->
                            <div class="carousel-item">
                                <a href="#!"><img src="{{tour.portada2.url}}" alt="{{ tour.nombre }}" class="img-fluid"></a>
                            </div>
                            <!--/Second slide-->

                            <!--Third slide-->
                            <div class="carousel-item">
                                <a href="#!"><img src="{{tour.portada3.url}}" alt="{{ tour.nombre }}" class="img-fluid"></a>
                            </div>
                            <!--/Third slide-->
                        </div>
                        <!--/.Slides-->

                        <!--Controls-->
                        <a class="carousel-control-prev" href="#carousel-example-1" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carousel-example-1" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                        <!--/.Controls-->
                    </div>
                    <!--/.Carousel Wrapper-->

                </div>
                <!--/Carousel header-->
                
            </div>
            <!--/First row-->
        </div>
        <div class="col-lg-12 col-md-12 col-sm-8 text-center">
            <a href="https://api.whatsapp.com/send?phone={{tour.whatsapp}}&text=Me%20gustaría%20hacer%20una%20Reservacion%20en%20{{tour.nombre}}%20enviado%20desde%20Teotihuacán%20Mágico" class="btn btn-danger" target="_blank"> Reservación por WhatsApp</a>
        </div>        
        </div>
    </div>
</div>

<script>

      function initMap() {
        var myLatLng = {lat: {{tour.lat|jsonify}} , lng: {{tour.lng|jsonify}} };

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 14,
          center: myLatLng
        });
        {% for m  in marcadores  %}
          var marker = new google.maps.Marker({
          position:{lat: {{m.latitud|jsonify}} , lng: {{m.longitud|jsonify}} },
          map: map,
          title: '{{m.nombre|jsonify}}'
        });  
        {% endfor %}
        
      }

</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtjM5A6W-i81IPpnYzXbwDpRbNJ0iVc0E&callback=initMap">
</script>

{%endblock content%}


{%block scripts%}

{%endblock scripts%}