{% extends 'base.html'%}
{% load actividad_tags %}
{% load blog_tags %}
{% load static%}
{% block head%}
	<!--Facebook-->
    <!-- You can use open graph tags to customize link previews.
    Learn more: https://developers.facebook.com/docs/sharing/webmasters -->
    <meta property="og:url"           content="http://www.teotihuacanmagico.com.mx/restaurant-list/" />
    <meta property="og:type"          content="article" />
    <meta property="og:title"         content="Establecimientos de comida en Teotihuacán" />
    <meta property="og:description"   content="Encuentra los mejores establecimientos y disfruta de una experiencia única" />
    <meta property="og:image"         content="http://www.teotihuacanmagico.com.mx/static/img/teo.png" />

{% endblock head%}
{% block header%}
<!-- streak -->
<div class="streak hm-black-strong streak-lg streak-photo view" style="background-image:url({%static 'img/donde_comer.jpg'%})">
		<div class="flex-center mask">
			<ul class="white-text smooth-scroll title">
				<li><h2 class="h2-responsive">¿Dónde comer?</h2></li>
				<li><h5 class="text-center  " data-wow-delay="0.2s">desde restaurantes hasta fondas de comida corrida..</h5></li>

			</ul>
		</div>
</div>
<!-- /.streak -->
{%endblock header%}

{%block content%}
<div class="container text-left">
	<div class="row">
		<div class="col-4 col-sm-4 col-lg-4 col-md-4">
			<a href="{% url 'home:home' %}"><i class="fa fa-arrow-left" aria-hidden="true"></i> Regresar</a>
		</div>
	</div>
</div>

<div class="container text-center">
	<div class="row">
		<div class="col-12 col-sm-12 col-md-12 col-lg-12">	
			<h2 class="title">Categorias</h2>
			<ul class="list-categoria">
				<li {% if not categoria_restaurant  %}{% endif %} id="catego">
					<a href="{% url 'restaurantes:restaurant_list' %}" class="list">Todos</a>
				</li>
				{% for c in categorias_restaurant %}
				<li{% if categoria_restaurant.slug == c.slug %}{% endif %} id="catego">
					<a href="{{c.get_absolute_url}}" class="list">{{c.nombre}}</a>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
<div class="container" style="padding: 30px;" id="restaurantes">
	<h2 class="text-center title">
		{% if categoria_restaurant %} {{categoria_restaurant.nombre}} {%else%} Todos {% endif %}
	</h2>
	{%for Restaurant in restaurantes%}
	{% if forloop.first %}
		<div class="row" style="padding-top: 3px;">
	{%endif%}		
		<div class="col-lg-3 col-md-4 col-sm-6 text-center">
			<div class="card bordesito" style="width: 15rem;">
			  <img class="card-img-bottom" src="{{Restaurant.portada_uno.url}}" alt="Teotihuacán Mágico" width="50" height="150">
			  <div class="card-block">
			    <h4 class="card-title title-card text-center">{{Restaurant.nombre}}</h4>
			    <p class="card-text text-center"><i class="fa fa-bookmark" aria-hidden="true"></i> {{Restaurant.categoria}}</p>
			    <p class="card-text text-center">{{Restaurant.descripcion|markdown|truncatewords_html:10}}</p>
			    <a href="{{Restaurant.get_absolute_url}}" class="btn btn-primary">más información...</a>
			  </div>
			</div>
		</div>
		{% if forloop.counter|divisibleby:4 %}
		</div><br><br><div class="row">
        {% endif %}            
        {% if forloop.last %}
            </div>
        {% endif %} 
	{%endfor%}
</div>


{%endblock content%}