{%extends 'base_detail.html' %}
{% load actividad_tags %}
{% load jsonify %}
{% load static%}

{% block head %}
    <!--Facebook-->
    <!-- You can use open graph tags to customize link previews.
    Learn more: https://developers.facebook.com/docs/sharing/webmasters -->
    <meta property="og:url"           content="http://www.teotihuacanmagico.com.mx{{restaurant.get_absolute_url}}" />
    <meta property="og:type"          content="article" />
    <meta property="og:title"         content="{{ restaurant.nombre }}" />
    <meta property="og:description"   content="{{ restaurant.descripcion}}" />
    <meta property="og:image"         content="{{ restaurant.portada_uno.url}}" />

{% endblock head %}

{% block content%}

<div class="container" style="padding-top:150px;margin-bottom: 0px; background-color: #fafafa">
    <div class="row">
        <div class="col-lg-4">
            <a href="{% url 'restaurantes:restaurant_list' %}"><i class="fa fa-arrow-left" aria-hidden="true"></i> Regresar</a>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-8 text-center">
            <img src="{{restaurant.logo.url}}" class="img-circle" style="width: 300px; height: 250px;">
            <hr>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-8">
            <h2 class="title text-center">{{restaurant.nombre}}</h2>
            <p class="title subtitle text-center">Categoria: {{restaurant.categoria.nombre}}</p>
            <p class="title subtitle text-center">Horario: {{restaurant.horario}}</p>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <p class="subtitle title text-center"><i class="fa fa-bolt" aria-hidden="true"></i> Información General</p>
            <!--<p><i class="fa fa-calendar" aria-hidden="true"></i> {{evento.fecha}}h.</p>-->
            <p><i class="fa fa-pencil-square-o" aria-hidden="true"></i> {{restaurant.descripcion|markdown}}.</p>
            <p><i class="fa fa-map-marker" aria-hidden="true"></i> {{restaurant.ubicacion}}.</p>       

            {%if restaurant.telefono_uno%}
            <p><i class="fa fa-whatsapp" aria-hidden="true"></i> {{restaurant.telefono_uno}}</p>
            {%else%}
            <p><i class="fa fa-phone" aria-hidden="true"></i> No Disponible</p>
            {%endif%}

            {%if restaurant.telefono_dos%}
            <p><i class="fa fa-mobile" aria-hidden="true"></i> {{restaurant.telefono_dos}}</p>
            {%else%}
            <p><i class="fa fa-mobile" aria-hidden="true"></i> No Disponible</p>
            {%endif%}

            <p><i class="fa fa-envelope" aria-hidden="true"></i> {{restaurant.correo}}</a></p>
            <p><a href="{{restaurant.paginaWeb}}" style="color:#7e8b8d;" target="_blank"><i class="fa fa-globe" aria-hidden="true"></i> {{restaurant.paginaWeb}}</a></p>
            <hr>
            <div class="container text-center">
                <h2 class="subtitle title text-center">Redes Sociales</h2>
                <div class="row">
                    <div class="col-lg-3 col-sm-3">
                        <p><a href="{{restaurant.facebook}}" style="color:blue;" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></p>
                    </div>
                    <div class="col-lg-3 col-sm-3">
                        <p><a href="{{restaurant.twitter}}" style="color:cornflowerblue;" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></p>
                    </div>
                    <div class="col-lg-3 col-sm-3">
                        <p><a href="{{restaurant.instagram}}" style="color: rgba-purple-strong;" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></p>
                    </div>
                    <div class="col-lg-3 col-sm-3">
                        <p><a href="{{restaurant.youtube}}" style="color:red;" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a></p>
                    </div>  
                </div>
            </div>
            <hr>
            <h2 class="subtitle title text-center"><i class="fa fa-map" aria-hidden="true"></i> Mapa</h2>
            <div id='map' style='width:auto; height: 300px;'></div>
            <hr>
              
        </div>
            
        <div class="col-lg-6 col-md-6 col-sm-12">
            <p class="subtitle title text-center"><i class="fa fa-bars" aria-hidden="true"></i> Ménu: <br></p>
            <div class="container" style="padding-top:0px;">
            <!--First row-->
                        <div class="row mb-2 mt-1">
                            
                            <!--Carousel header-->
                            <div class="col-lg-12 col-md-12 col-sm-12"> 

                                <!--Carousel Wrapper-->
                                <div id="teotihuacan-magico-1" class="carousel slide carousel-fade z-depth-1-half" data-ride="carousel">
                                    <!--Indicators-->
                                    <ol class="carousel-indicators">
                                        <li data-target="#teotihuacan-magico-1" data-slide-to="0" class="active"></li>
                                        <li data-target="#teotihuacan-magico-1" data-slide-to="1"></li>
                                        <li data-target="#teotihuacan-magico-1" data-slide-to="2"></li>
                                    </ol>
                                    <!--/.Indicators-->

                                    <!--Slides-->
                                    <div class="carousel-inner" role="listbox">
                                        <!--First slide-->
                                        <div class="carousel-item active">
                                            <a href="#!"><img src="{{restaurant.menu.url}}" alt="{{restaurant.nombre}}" class="img-fluid"></a>
                                        </div>
                                        <!--/First slide-->

                                        <!--Second slide-->
                                        <div class="carousel-item">
                                            <a href="#!"><img src="{{restaurant.menu_image.url}}" alt="{{restaurant.nombre}}" class="img-fluid"></a>
                                        </div>
                                        <!--/Second slide-->

                                        <!--Third slide-->
                                        <div class="carousel-item">
                                            <a href="#!"><img src="{{restaurant.menu_image_uno.url}}" alt="{{restaurant.nombre}}" class="img-fluid"></a>
                                        </div>
                                        <!--/Third slide-->
                                    </div>
                                    <!--/.Slides-->

                                    <!--Controls-->
                                    <a class="carousel-control-prev" href="#teotihuacan-magico-1" role="button" data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#teotihuacan-magico-1" role="button" data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                    <!--/.Controls-->
                                </div>
                                <!--/.Carousel Wrapper-->

                            </div>
                            <!--/Carousel header-->
                            
                        </div>
                        <!--/First row-->
            </div>

            <hr>
            <h2 class="subtitle title text-center"><i class="fa fa-camera" aria-hidden="true"></i> Fotografías</h2>
            <div class="container" style="padding-top:0px;">
            <!--First row-->
                        <div class="row mb-2 mt-1">
                            
                            <!--Carousel header-->
                            <div class="col-lg-12 col-md-12 col-sm-12"> 

                                <!--Carousel Wrapper-->
                                <div id="teotihuacan-magico-2" class="carousel slide carousel-fade z-depth-1-half" data-ride="carousel">
                                    <!--Indicators-->
                                    <ol class="carousel-indicators">
                                        <li data-target="#teotihuacan-magico-2" data-slide-to="0" class="active"></li>
                                        <li data-target="#teotihuacan-magico-2" data-slide-to="1"></li>
                                        <li data-target="#teotihuacan-magico-2" data-slide-to="2"></li>
                                    </ol>
                                    <!--/.Indicators-->

                                    <!--Slides-->
                                    <div class="carousel-inner" role="listbox">
                                        <!--First slide-->
                                        <div class="carousel-item active">
                                            <a href="#!"><img src="{{restaurant.portada_uno.url}}" alt="{{restaurant.nombre}}" class="img-fluid"></a>
                                        </div>
                                        <!--/First slide-->

                                        <!--Second slide-->
                                        <div class="carousel-item">
                                            <a href="#!"><img src="{{restaurant.portada_dos.url}}" alt="{{restaurant.nombre}}" class="img-fluid"></a>
                                        </div>
                                        <!--/Second slide-->

                                        <!--Third slide-->
                                        <div class="carousel-item">
                                            <a href="#!"><img src="{{restaurant.portada_tres.url}}" alt="{{restaurant.nombre}}" class="img-fluid"></a>
                                        </div>
                                        <!--/Third slide-->
                                    </div>
                                    <!--/.Slides-->

                                    <!--Controls-->
                                    <a class="carousel-control-prev" href="#teotihuacan-magico-2" role="button" data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#teotihuacan-magico-2" role="button" data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                    <!--/.Controls-->
                                </div>
                                <!--/.Carousel Wrapper-->

                            </div>
                            <!--/Carousel header-->
                            
                        </div>
                        <!--/First row-->
            </div> 
            <div class="col-lg-12 col-md-12 col-sm-8 text-center">
                <a href="https://api.whatsapp.com/send?phone={{restaurant.telefono_uno}}&text=Me%20gustaría%20hacer%20una%20Reservacion%20en%20{{restaurant.nombre}}%20enviado%20desde%20Teotihuacán%20Mágico" class="btn btn-danger" target="_blank"> Reservación por WhatsApp</a>
            </div>     
        </div>
    </div>
</div>
<script>

      function initMap() {
        var myLatLng = {lat: {{restaurant.lat|jsonify}} , lng: {{restaurant.lng|jsonify}} };

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 14,
          center: myLatLng
        });
        {% for m  in marcadores  %}
          var marker = new google.maps.Marker({
          position:{lat: {{m.latitud|jsonify}} , lng: {{m.longitud|jsonify}} },
          map: map,
          title: '{{m.nombre|jsonify}}'
        });  
        {% endfor %}
        
      }

</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtjM5A6W-i81IPpnYzXbwDpRbNJ0iVc0E&callback=initMap">
</script>
{%endblock content%}


{%block scripts%}
    

{%endblock scripts%}