{%extends 'base.html' %}
{% load actividad_tags %}
{%load static%}
{%block head%}

{%endblock head%}
{%block header%}
<!-- streak -->
<div class="streak hm-black-strong streak-lg streak-photo view" style="background-image:url({%static 'img/pic10.jpg'%})">
		<div class="flex-center mask">
			<ul class="white-text smooth-scroll title">
				<li><h2 class="h2-responsive ">Eventos</h2></li>
				<li><h5 class="text-center  wow fadeIn subtitle" data-wow-delay="0.2s">Conoce Fechas y lugares de los eventos en Teotihuacán </h5></li>
			</ul>
		</div>
</div>
<!-- /.streak -->
{%endblock header%}
{%block content%}
<div class="container text-center">
	<div class="row">
		<div class="col-12 col-sm-12 col-md-12 col-lg-12">	
			<h2 class="title">Categorias</h2>
			<ul class="list-categoria">
				<li {% if not categoria  %}{% endif %} id="catego">
					<a href="{%url 'eventos:evento_list' %}" class="list">Todos</a>
				</li>
				{% for c in categorias %}
				<li{% if categoria.slug == c.slug %}{% endif %} id="catego">
					<a href="{{c.get_absolute_url}}" class="list">{{c.slug}}</a>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
<div class="container" style="padding-top:50px; padding-bottom:50px;">
	<h2 class="text-center title">
		{% if categoria %}
		 	{{categoria.nombre}}
		{%else%} 
			Todos 
		{% endif %}
	</h2>
	{%for Evento in eventos%}
	{% if forloop.first %}
	<div class="row">
	{%endif%}	
		<div class="col-lg-3 col-md-4 col-sm-6 text-center">
			<div class="card bordesito" style="width: 17rem;">
			  <img class="card-img-top" src="{{Evento.logo.url}}" alt="Teotihuacán Eventos" width="50" height="150">
			  <div class="card-block">
			    <h4 class="card-title title-card">{{Evento.nombre}}</h4>
			    <p class="card-text text-center">{{Evento.categoria}}</p>
			    <p class="card-text">{{Evento.descripcion|markdown|truncatewords_html:20}}</p>

			    {%if Evento.fecha_inicial and Evento.fecha_final %}
	            <p class="subtitle text-center">Del: {{Evento.fecha_inicial|date:"D d M Y"}} <br>  Al: {{Evento.fecha_final|date:"D d M Y"}}.</p>   
	            {%else%}
	             <p class ="subtitle text-center">Fecha: {{Evento.fecha_unica|date:"D d M Y"}}.</p>   
	            {%endif%}
			    
			    <a href="{{Evento.get_absolute_url}}" class="btn btn-danger">más información...</a>
			  </div>
			</div>
		</div>
	
		{% if forloop.counter|divisibleby:4 %}
		</div><br><br><div class="row">
        {% endif %}            
        {% if forloop.last %}
            </div>
        {% endif %} 
	{%endfor%}
</div>

{%endblock content%}