{%extends 'base_detail.html' %}
{% load actividad_tags %}
{% load jsonify %}
{%load static%}
{%block head%}
    <!--Facebook-->
    <!-- You can use open graph tags to customize link previews.
    Learn more: https://developers.facebook.com/docs/sharing/webmasters -->
    <meta property="og:url"      content="http://www.teotihuacanmagico.com.mx{{evento.get_absolute_url}}" />
    <meta property="og:type"          content="article" />
    <meta property="og:title"         content="{{ evento.nombre }}" />
    <meta property="og:description"   content="{{ evento.descripcion}}" />
    <meta property="og:image"         content="{{ evento.logo.url}}" />
{%endblock head%}

{% block content%}

<div class="container" style="padding-top:110px;margin-bottom: 0px; background-color: #fafafa">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-8 text-center">
            <img src="{{evento.logo.url}}" class="img-circle" style="width: 250px; height: 250px;">
            
        </div>
        <div class="col-lg-12 col-md-12 col-sm-8 text-center">
            <h2 class="title text-center">{{evento.nombre}}</h2>
            <h3 class="subtitle title text-center">Categoria: {{evento.categoria.nombre}}</h3>

            {%if evento.fecha_inicial and evento.fecha_final %}
            <p class="subtitle  title text-center">De: {{evento.fecha_inicial}}hr.  Al: {{evento.fecha_final}}hr.</p>   
            {%else%}
             <p class = "subtitle  title text-center">Fecha: {{evento.fecha_unica}} hrs.</p>   
            {%endif%}
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <p class="subtitle title text-center"><i class="fa fa-bolt" aria-hidden="true"></i> Información general</p>
            <!--<p><i class="fa fa-calendar" aria-hidden="true"></i> {{evento.fecha}}h.</p>-->
            <p><i class="fa fa-map-marker" aria-hidden="true"></i> {{evento.direccion}}.</p>

            {%if evento.tel_1%}
            <p><i class="fa fa-phone" aria-hidden="true"></i> {{evento.tel_1}}</p>
            {%else%}
            <p><i class="fa fa-phone" aria-hidden="true"></i> No Disponible</p>
            {%endif%}

            {%if evento.tel_2%}
            <p><i class="fa fa-mobile" aria-hidden="true"></i> {{evento.tel_2}}</p>
            {%else%}
            <p><i class="fa fa-mobile" aria-hidden="true"></i> No Disponible</p>
            {%endif%}

            <p><i class="fa fa-envelope" aria-hidden="true"></i> {{evento.correo}}</p>
            <p><a href="{{evento.sitio_web}}" target="_blank" style="color:#000;"><i class="fa fa-globe" aria-hidden="true"></i> {{evento.sitio_web}}</a></p>
            <hr>
            <h2 class="subtitle title text-center">Descripción</h2>
            <p> {{evento.descripcion|markdown}}</p> 
            <!-- <p>Servicios Extras: {%for evento in servicios_extra%}{{evento.tipo}},{%endfor%}</p> -->
            <hr>
            <h3 class="subtitle title text-center">Servicios</h3>
            <div class="container text-center">
                    <div class="row">
                            <div class="col-lg-3 col-sm-3">
                                {%if evento.banos == True %}
                                <p><i class="fa fa-bath" aria-hidden="true"></i><br>Baños</p>
                                {%else%}
                                <p></p>
                                {%endif%}
                            </div>
                            <div class="col-lg-3 col-sm-3">
                                {%if evento.estacionamiento == True %}
                                <p><i class="fa fa-car" aria-hidden="true"></i><br>Estacionamiento</p>
                                {%else%}
                                <p><i class="fa fa-car" aria-hidden="true"></i><br>No Disponible</p>
                                {%endif%}
                            </div> 
                    </div>
            </div>
            <hr>
            <h2 class="subtitle title text-center">Mapa</h2>
            <div id='map' style='width:auto; height: 300px;'></div>
            <hr>  
        </div>
            
        <div class="col-lg-6 col-md-6 col-sm-12">
            <h2 class="subtitle title text-center">Programa de {{evento.nombre}}</h2>
            <p>{{evento.programa|markdown}}</p>
            <hr>
            <h3 class="subtitle title text-center">Precios</h3>
            {%for evento in precios%}
            <p class="subtitle title"><span>{{evento.tipo}}</span> = ${{evento.costo}} MXN.</p>
            <p>Incluye : {{evento.descripcion|markdown}}</p>
            {%endfor%}           
            <hr>
            {%for evento in organizadores%}
            <p class="subtitle title text-center">Organizador: {{evento.nombre_org}}</p>
            {%endfor%}
            <hr>
            <div class="container text-center">
                    <h2 class="subtitle title text-center">Redes Sociales</h2>
                    <div class="row">
                            <div class="col-lg-3 col-sm-3">
                                <p><a href="{{evento.facebook}}" style="color:blue;" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></p>
                            </div>
                            <div class="col-lg-3 col-sm-3">
                                <p><a href="{{evento.twitter}}" style="color:cornflowerblue;" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></p>
                            </div>
                            <div class="col-lg-3 col-sm-3">
                                <p><a href="{{evento.instagram}}" style="color: rgba-purple-strong;" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></p>
                            </div>
                            <div class="col-lg-3 col-sm-3">
                                <p><a href="{{evento.youtube}}" style="color:red;" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a></p>
                            </div>  
                    </div>
            </div>
            <hr>
            <div class="container" style="padding-top:0px;">
            <!--First row-->
                        <h2 class="subtitle title text-center"><i class="fa fa-camera" aria-hidden="true"></i> Fotografías</h2>
                        <div class="row mb-2 mt-1">
                            
                            <!--Carousel header-->
                            <div class="col-lg-12 col-md-12 col-sm-12"> 

                                <!--Carousel Wrapper-->
                                <div id="carousel-example-1" class="carousel slide carousel-fade z-depth-1-half" data-ride="carousel">
                                    <!--Indicators-->
                                    <ol class="carousel-indicators">
                                        <li data-target="#carousel-example-1" data-slide-to="0" class="active"></li>
                                        <li data-target="#carousel-example-1" data-slide-to="1"></li>
                                        <li data-target="#carousel-example-1" data-slide-to="2"></li>
                                    </ol>
                                    <!--/.Indicators-->

                                    <!--Slides-->
                                    <div class="carousel-inner" role="listbox">
                                        <!--First slide-->
                                        <div class="carousel-item active">
                                            <a href="#!"><img src="{{evento.portada.url}}" alt="First slide" class="img-fluid"></a>
                                        </div>
                                        <!--/First slide-->

                                        <!--Second slide-->
                                        <div class="carousel-item">
                                            <a href="#!"><img src="{{evento.portada_2.url}}" alt="Second slide" class="img-fluid"></a>
                                        </div>
                                        <!--/Second slide-->

                                        <!--Third slide-->
                                        <div class="carousel-item">
                                            <a href="#!"><img src="{{evento.portada_3.url}}" alt="Third slide" class="img-fluid"></a>
                                        </div>
                                        <!--/Third slide-->
                                    </div>
                                    <!--/.Slides-->

                                    <!--Controls-->
                                    <a class="carousel-control-prev" href="#carousel-example-1" role="button" data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carousel-example-1" role="button" data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                    <!--/.Controls-->
                                </div>
                                <!--/.Carousel Wrapper-->

                            </div>
                            <!--/Carousel header-->
                            
                        </div>
                        <!--/First row-->
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-4 text-center">
                    <a href="https://www.youtube.com/embed/{{evento.id_video}}" class="btn btn-danger" target="_blank">Ver Video</a>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-4 text-center">
                    <a href="https://api.whatsapp.com/send?phone={{evento.tel_1}}&text=Me%20gustaría%20hacer%20una%20Reservacion%20en%20{{evento.nombre}}%20enviado%20desde%20Teotihuacán%20Mágico" class="btn btn-danger" target="_blank"> Reservación por WhatsApp</a>
                </div>
            </div>      
        </div>
    </div>
</div>

<script>

      function initMap() {
        var myLatLng = {lat: {{evento.lat|jsonify}} , lng: {{evento.lng|jsonify}} };

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 14,
          center: myLatLng
        });
        {% for m  in marcadores  %}
          var marker = new google.maps.Marker({
          position:{lat: {{m.latitud|jsonify}} , lng: {{m.longitud|jsonify}} },
          map: map,
          title: '{{m.nombre|jsonify}}'
        });  
        {% endfor %}
        
      }

</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtjM5A6W-i81IPpnYzXbwDpRbNJ0iVc0E&callback=initMap">
</script>
{%endblock content%}


{%block scripts%}

{%endblock scripts%}