{%load static%}
{%block head%}

{%endblock head%}

{%block content%}

<div class="container-fluid" style="padding: 30px;" id="hoteles">
	<h2>Hoteles</h2>
	<hr>
	<div class="row" style="padding-top: 3px;">
		{%for Hotel in hoteles%}
		<div class="col-md-4">
			<div class="card" style="width: 20rem;">
			  <img class="card-img-top" src="{{Hotel.foto_portada.url}}" alt="Card image cap">
			  <div class="card-block">
			    <h4 class="card-title">{{Hotel.nombre}}</h4>
			    <p class="card-text">{{Hotel.descripcion|truncatewords_html:20}}</p>
			    <p class="card-text">Servicios: <br>{{Hotel.servicios}}</p>
			    <a href="{{Hotel.get_absolute_url}}" class="btn btn-primary">más información...</a>
			  </div>
			</div>
		</div>
		{%endfor%}
	</div>
</div>

{%endblock content%}